[2019-05-10 16:24] amanda-phet opened #1 "Master Checklist"
# Number Line Integers master checklist

## Design
- [x] **Sim folder and design doc created** (Date: 3/17/2017)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Sim suggestions doc reviewed** [suggestions doc](https://phet.unfuddle.com/a#/projects/94

[2019-05-10 16:41] amanda-phet opened #2 "Absolute value notation"
The mockups use absolute value notation from an equation editor, as opposed to the pipe symbol on the keyboard (ex: |-3| = 3). I'd like to try to match the look of the equation editor, notably the height of the absolute value lines.
![image](https://user-images.githubusercontent.com/7852916/57542807-ea0dfe00-730f-11e9-930e-52f6a8ea6375.png)

The pipe symbol isn't quite tall enough.

[2019-05-23 00:58] jbphet opened #3 "Quick review of screen 2"
We did a review of screen 2 last week and recorded a number of changes.  These have been implemented, and I thought it would be good to do another round, since I'm moving on to screen 1 so it would be good to make any further changes while this is fresh in my mind.  We're not looking for small, pixel-polishing sort of feedback here - that will come later.  This is more about any major functionalit

[2019-05-23 14:50] KatieWoe opened #4 "CT point controller shuld not be put away while controlling a point"
[code]

[2019-05-23 14:51] KatieWoe commented on #4
Can't add automated testing label to the issue.  Also, @jbphet this is your sim right?  Its not in the responsible_dev sheet.

[2019-05-23 17:53] amanda-phet commented on #3
I reviewed it an it all looks good functionality-wise. I would like the absolute value statement to also have that transparent white background (similar to the labels), and mention it now because it feels less minor than the other pixel-polishes I will request.

@kathy-phet should also look it over since she will remember things from our design discussions that I could easily have forgotten!

[2019-05-23 23:10] jbphet commented on #4
This was caused by fuzz test grabbing point controllers that were animating back to the holding box, and I've made this impossible.  CT looks clear, closing.

[2019-05-23 23:10] #4 closed

[2019-05-24 14:44] KatieWoe opened #5 "CT ENOENT: no such file of directory"
[code]

[2019-05-24 14:45] KatieWoe commented on #5
No automated testing label to use.
@jbphet should I be assigning you or @arnabp?

[2019-05-24 16:05] jbphet commented on #5
Wow, that's odd.  I had neglected to add the correct library spec and path for TWIXT, but it worked fine until there was a commit related to the cache buster.  Not sure why it **ever** worked without these things, but at any rate, it should be fixed now.  I'll watch CT and close when I'm sure.

[2019-05-24 18:27] jbphet commented on #5
CT looks good - closing.

[2019-05-24 18:27] #5 closed

[2019-06-10 15:09] KatieWoe opened #6 "CT issues with media license and point controllers"
[code]

[2019-06-10 15:09] KatieWoe commented on #6
No automated testing label, so labeling as bug.

[2019-06-10 18:20] jbphet commented on #6
Should be fixed, closing.

[2019-06-10 18:20] #6 closed

[2019-07-02 19:42] jbphet opened #7 "finalize the credits"
Before initial publication, the credits in `number-line-integers-main.js` need to be correct.

[2019-07-11 15:36] SaurabhTotey opened #8 "Small bugs"
I am just keeping a small log of bugs to address in this issue.

1. displaying long floating point numbers in the elevation scene.
<img width="750" alt="floatingpointnumbers" src="https://user-images.githubusercontent.com/22577113/61063224-d0933c00-a3bc-11e9-862d-5af58dd36c47.png"> This is a little difficult to reproduce, but just happens when dragging objects near the boundaries.

&nbsp;

2. spac

[2019-07-11 15:43] SaurabhTotey commented on #8
The below image is probably related to a combination of 3 and 1 above, but it strikes me as somehow separate because the girl is said to be at position 0.
<img width="1059" alt="girlat0" src="https://user-images.githubusercontent.com/22577113/61065066-2ae1cc00-a3c0-11e9-9f10-cb9fc0071663.png">

[2019-07-12 16:47] jbphet opened #9 "Include attribution for temperature data"
@kathy-phet and @amanda-phet showed me the site https://cds.climate.copernicus.eu/cdsapp#!/home as a possible source for the temperature data needed in the "Temperature" scene.  This seems to be working out well, but this morning as I was using it, a dialog popped up about accepting the license.  I skimmed through it, and I think we could probably meet the terms of it by mentioning them in the "Th

[2019-07-12 16:48] jbphet commented on #9
Assigning @ariel-phet for now.

[2019-07-12 18:00] amanda-phet commented on #9
@kathy-phet and I reviewed the license and we will plan to include this attribution: Generated using Copernicus Climate Change Service information (2019)

I am not positive where it should go- Kathy or Ariel should know.

[2019-07-17 00:34] ariel-phet commented on #9
@amanda-phet I would follow what you did in Least Squares Regression where you have an "info" button, that seems reasonable and sufficient.

[2019-07-19 18:13] SaurabhTotey commented on #8
4. On the piggy bank scene, dragging the piggy bank and pushing the buttons don't seem to correctly link to the same value. When the piggy bank is dragged around, and then one of the buttons is pressed, the value from the drag is lost.

[2019-07-19 21:53] SaurabhTotey commented on #8
Just for more context for 4, it seems like the account balance properties affect the numberline's point value properties, but the numberline's point value properties do not affect the balance properties.

[2019-07-22 15:33] SaurabhTotey commented on #8
With d769e66 I believe I have solved an issue in 2 where the points can go outside of the valid range. The element spacing for 2 has not been fixed, though.

[2019-07-23 21:39] SaurabhTotey commented on #8
5. Assertion failed: center should be a finite Vector2
When dragging around one of the PointControllers in the temperature scene, this assertion sometimes fails. I need to figure out why, especially because the majority of the code from the temperature scene is the same as the code from the elevation scene (which needs to be de-duplicated). This happens when a point is dragged up and down, and it

[2019-07-23 21:41] SaurabhTotey commented on #8
This is a just the stack trace for 5 as of this current moment.
<img width="1323" alt="currentstacktrace" src="https://user-images.githubusercontent.com/22577113/61749550-3f2ead00-ad60-11e9-8760-f8fc6a1d052c.png">

[2019-07-24 16:39] SaurabhTotey commented on #8
After doing a bit of debugging, I think I finished 5 from above. It seems like 90 degrees is not a valid latitude for the point to be at because it causes temperatureDataSet.js to look for an index that is out of range.

[2019-07-26 17:50] SaurabhTotey commented on #8
I think I have also fixed 4 so that now dragging on the piggy banks actually updates their balance.

[2019-07-26 18:17] SaurabhTotey commented on #8
I have now fixed 1, and I think that 3 has since been solved.

[2019-07-26 18:39] SaurabhTotey commented on #8
The only remaining issue is that points sometimes go to 0 when they shouldn't. However, all other problems in this issue have been solved. Consequently, I am closing this issue, and then opening a new one for specifically that last one.

[2019-07-26 18:39] #8 closed

[2019-07-26 18:46] SaurabhTotey opened #10 "Points go to 0 when they shouldn't be"
In the generic and elevation scene, when dragging a point to the endpoints of a numberline, if the endpoints are occupied, the dragging point will go to 0 or below. An example of this is visible in #8.

[2019-07-26 21:51] SaurabhTotey opened #11 "Bank scene connector line is in front of number-line point"
The connector line is showing up in front of the number line point as shown below.
<img width="117" alt="layering" src="https://user-images.githubusercontent.com/22577113/61983341-3981d300-afbd-11e9-87bf-b60ba094e855.png">

[2019-07-29 16:49] #10 closed

[2019-07-29 17:39] jbphet opened #12 "Should we have a month selector for the temperature data?"
@kathy-phet said this in an email:

We're at the point where we should probably decide if we want to do this so that it can be rolled into the implementation.

[2019-07-30 15:32] SaurabhTotey opened #13 "Buttons in bank scene can allow two piggy banks to have the same balance"
In the bank scene, the two piggy banks cannot get the same balance if they are both dragged to the same value because one will bump off. However, when manipulated with the buttons, the two piggy banks can get to the same value. This is because the buttons directly set the values of the balance properties rather than going through the numberline to affect the balance properties. The number line is

[2019-07-30 16:03] SaurabhTotey commented on #13
Relatedly, this affects bank scene layering in that clicking the buttons doesn't update numberline points layering whereas dragging does.

[2019-07-31 15:11] KatieWoe opened #14 "CT: Cannot read property 'valueProperty' of null"
[code]

[2019-07-31 15:18] SaurabhTotey commented on #14
I believe I have caused this. I'll see if I can fix it.

[2019-07-31 15:28] SaurabhTotey commented on #14
I believe this issue is now solved, I will wait for a few more columns of CT to finish though to make sure.

[2019-07-31 19:09] SaurabhTotey commented on #14
CT doesn't seem to be showing any errors, so I will close this for now.

[2019-07-31 19:09] #14 closed

[2019-07-31 19:23] #11 closed

[2019-08-01 21:49] jbphet opened #15 "Design discussion 8/1/2019"
I had a number of design questions for @amanda-phet, so we set up a discussion, here are some notes:

+ Should currency symbol translatable?
  + Yes.  @amanda-phet will modify the artwork for the deposit/withdraw icons to support this.  It will work best if the location of the coin is the same in both places.
+ The current artwork for deposit has two coins, but the value of the account only goes u

[2019-08-02 17:45] SaurabhTotey commented on #13
Also related is that when the scenes screen is reset, all association between the bank account balance and number line value is lost.

[2019-08-05 21:27] SaurabhTotey opened #16 "Elevation Scene draggable image z-indices don't update when corresponding point controllers are dragged"
When the point controllers that are attached to the number line get dragged, the corresponding image point controller is not brought up to the front in terms of z-indexing. I believe the isDragging property for the image updates the isDragging property for the numberline point controller, but that doesn't happen in reverse. I believe the image will be brought to the front when the isDragging prope

[2019-08-07 17:00] SaurabhTotey opened #17 "Comparison statement nodes don't reset on scene reset"
On a scene reset, the selectedOperatorProperty for a comparison node doesn't reset, so the selected operator persists even after a reset.

[2019-08-07 17:04] #17 closed

[2019-08-09 17:26] #16 closed

[2019-08-09 17:49] SaurabhTotey commented on #15
From the above issue, I believe all that's left is

\
For

there is code to easily tweak the center positions of the point controllers and the offsets of the absolute value texts relative to the image. I have already tweaked the centers and relative absolute value text positions to work/look slightly better.

[2019-08-09 18:01] SaurabhTotey opened #18 "Temperature scene absolute value text colors"
In the temperature scene, the colors of the absolute value texts can get really hard to read at low temperatures. The blue color is too similar to the black color and there is barely enough contrast to read it.

![BadColors](https://user-images.githubusercontent.com/22577113/62799100-22eb7980-ba9d-11e9-88da-956af0d11aa9.png)

[2019-08-13 19:36] amanda-phet opened #19 "update toggle artwork"
I'd like to see if we can update the bank toggle artwork to match the new pigs. Can we do something like this?

![image](https://user-images.githubusercontent.com/7852916/62971501-3f562180-bdcf-11e9-8cf3-9e8473b45560.png)

I used the outlines from the pigs on the number line and gave the active side of the switch white backgrounds.

[2019-08-14 18:00] SaurabhTotey commented on #19
I have implemented this change on master. The transparent piggy banks may be difficult to see. Assigning to @amanda-phet to review.

[2019-08-14 18:10] amanda-phet commented on #19
I agree, the transparent pigs are too faint. Maybe we could do a white background when inactive, and green background when active?

[2019-08-14 18:30] SaurabhTotey commented on #19
Here are what the toggles look like with different colors for backgrounds. For the different green color and the blue color, I just used the CSS default for 'green' and default for 'blue', but I can try more specific hex/rgba colors.

Piggy bank with same green as other piggy banks:
![WithSameGreen](https://user-images.githubusercontent.com/22577113/63046093-04b3be00-be8f-11e9-8819-3da914be54e1.pn

[2019-08-14 18:36] amanda-phet commented on #19
I like the first option which uses the same green as the piggy banks.

[2019-08-14 18:41] SaurabhTotey commented on #19
I have incorporated that green color into master. I'll close this issue now that everything has been addressed, but feel free to reopen if anything else needs to be done.

[2019-08-14 18:41] #19 closed

[2019-08-16 23:01] KatieWoe opened #20 "CT File contains bad text"
[code]

[2019-08-19 16:41] jbphet commented on #20
Not happening now, I think it was fixed along the way.  Closing.

[2019-08-19 16:41] #20 closed

[2019-08-19 23:01] KatieWoe opened #21 "CT lint all task"
[code]

[2019-08-20 19:13] jbphet commented on #21
Fixed, closing.

[2019-08-20 19:13] #21 closed

[2019-08-27 21:39] arnabp commented on #12
This was discussed in the status meeting on 7/25 and it was decided that we would move forward with the month selector. It was added into the sim in commits 57935f668e6a8fa02f51d4246fab52d15571430b, 8cad5f466b24fd6770db5929e49f0b630dbbadf9, d31bc23b6ab5dd010b49e56278ccaae22d808630, d573f90ba69caead3bc878bf319292d9f13f5934, 0786b4afee2a2484571dc6100bfc686f66d9b7dd, c11c3fb2151bc1028d8148dc0021205c3

[2019-08-30 18:05] amanda-phet commented on #15
@jbphet and I discussed the reset today and he is going to add one to the temperature scene.

The Elevation scene artwork has been simplified and committed.

[2019-08-30 18:05] #15 closed

[2019-08-30 18:08] amanda-phet opened #22 "Screen icons"
Working on screen and scene icons for this sim.

Any thoughts on these screen icons?
![image](https://user-images.githubusercontent.com/7852916/64042179-8c9bf800-cb1e-11e9-88b1-f091ffd2e590.png)

For the Generic screen, my thought is I'll simplify it a bit so it doesn't have the point hanging below (just the circle at 2) and the absolute value notation can be closer, but this is just a screenshot

[2019-08-30 18:08] amanda-phet commented on #18
@arnabp came up with a dynamic solution that is working nicely. If the colors are light, they get a black background, and if the colors are dark, they get a white background.

[2019-08-30 18:08] #18 closed

[2019-08-30 18:10] amanda-phet commented on #9
The info button seems really heavy-handed for this sim.. in LSR the info button shared different information depending on the data set being viewed. Do we need to attribution right on the sim? Or can it go in the code and teacher tips instead?

If it needs to be on the sim, maybe we can include small text right under the map itself?

[2019-08-30 18:53] jbphet commented on #22
Two quick thoughts:
+ I'd suggest using the magenta in the 2nd icon, since it's a bit more eye catching and is a better contrast with the bluish background used on the actual "Generic" screen.
+ Megan is pretty good at creating things quickly.  Do you think she could create an icon that integrated the three concepts, such as PhET Girl walking with a piggy bank under one arm and a thermometer in he

[2019-09-03 18:03] amanda-phet commented on #22
@megan-phet will work on a quick sketch of this to share with the group as something to consider.

[2019-09-03 18:12] amanda-phet commented on #22
Megan made this sketch:
![image](https://user-images.githubusercontent.com/7852916/64197760-15c76d80-ce44-11e9-9ea7-6a924d78b73e.png)

Thoughts? I think it looks super cute!

[2019-09-03 19:05] kathy-phet commented on #22
I think its cute, but am somewhat concerned that the level of detail is too high for an icon in the nav bar?

[2019-09-03 19:12] amanda-phet commented on #22
The navbar could just be PhET girl hiking, from the first scene. Or just a pig. It can be simpler.

[2019-09-03 21:27] ariel-phet commented on #22
I might do something like hiking with a few elevation tick marks or such? I think you want to have a numberline suggested somehow in the icon, and keep it fairly simple.

[2019-09-04 17:15] ariel-phet commented on #9
Small text right in the sim seems totally reasonable to me (we have something similar in gene expression)

[2019-09-04 20:37] amanda-phet opened #23 "pixel polishes"
General:
- [x] make the comparison statement wider
- [x] add space around expandCollapseButton
- [x] increase opacity of all transparent white backgrounds
- [x] increase font sizes of label all around (first: are they currently consistent in size?)

Elevation scene:
- [x] Change fish dot/line color to something brighter. Maybe #0092FF?

Bank scene:
- [x] Pigs should increase in opacity the farther

[2019-09-04 22:01] amanda-phet commented on #23
In addition to this change we made the < | > button a bit smaller

Instead of changing the color we reduced the opacity of the water and it seemed to brighten up nicely

[2019-09-13 20:00] jbphet commented on #23
Over to @amanda-phet to review.  Everything in the list is checked off, so it would be good to take a look at the master version and see if the results look good.

One observation: I personally don't like the pig being white at zero.  To me, it creates a noticeable flash when sliding back and forth, and doesn't add much value.  I'd suggest just using an extension of the green color instead.

[2019-09-13 22:24] zepumph opened #24 "Potentially use SCENERY_PHET/BackgroundNode"
On the temperature scene of the first screen, there seem to be very similary background rectangles on numbers on the number line. @jbphet mentioned something in `NumberLineNode.js`. Over in https://github.com/phetsims/graphing-quadratics/issues/135 and https://github.com/phetsims/inverse-square-law-common/issues/79 we made a `BackgroundNode` in common code, now used by GQ and ISLC. Assigning to @j

[2019-09-16 18:59] amanda-phet opened #25 "9/16/19 interview summary"
I interviewed one 5th grade student (currently in 6th grade math).

Student begins on the “scenes” screen and drags all of the objects above and below the water level. On the bank scene he drags the pigs right away as well as pressing the buttons (even simultaneously). After playing with temperatures a bit I prompt him to try some of the checkboxes. He plays on the generic screen and immediately c

[2019-09-16 19:02] amanda-phet commented on #25
@jbphet items 1-3 are  for you. Would you like separate issues made?

[2019-09-16 19:14] SaurabhTotey commented on #25
2 is also documented in https://github.com/phetsims/number-line-integers/issues/13.

[2019-09-16 19:27] jbphet opened #26 "Reduce the build size"
I just built and published version 1.0.0-dev.6, and it is 12M in size (measured using the `du -sh` command in GitBash).  This is big.  For a point of comparison, I build Gas Properties recently, and it measured 1.9M.  I think the main causes of the large size are the 12 map images and the temperature data that goes with them.  Using some different compression algorithms on the maps may help.  Also

[2019-09-16 19:52] jbphet opened #27 "Currency units isn't fully translatable"
The strings file has the following entry:
[code]

...but also has:
[code]

That's not going to work out well.  Strings that contain a dollar sign should be updated to allow the use of the translated currency unit.

[2019-09-17 21:16] SaurabhTotey commented on #27
I changed moneyAmount to the below
[code]

Closing, but feel free to reopen if more changes need to be made.

[2019-09-17 21:16] #27 closed

[2019-09-18 21:36] SaurabhTotey commented on #26
So far, when I run `du -sh` on the build folder, I get a size of 20M whereas I was getting a size of 39M before. For comparison, I am getting a size of 21M on gas-properties.

[2019-09-19 14:47] KatieWoe opened #28 "CT Licenses for media types"
[code]

[2019-09-20 03:30] SaurabhTotey commented on #28
I believe I fixed this in the last commit, but I'll wait to close until a few columns of CT turn green.

[2019-09-20 18:56] #28 closed

[2019-09-20 20:00] SaurabhTotey commented on #24
I migrated NumberLineNode to use `BackgroundNode`. It seems like there are plenty more places in the code where this node could be used. For example, if this were used for the absolute value texts, the code would only need to manage the background's visibility instead of both its size and visibility.

[2019-09-23 14:42] KatieWoe opened #29 "CT Parent already contains child"
[code]

[2019-09-23 19:26] SaurabhTotey commented on #29
I believe I have fixed this issue. I will wait for a few columns of CT to check though.

[2019-09-24 17:22] amanda-phet opened #30 "change requests from interviews"
I imagine the bugs should be individual issues, but before I go out of town and forget everything I am making a note in one place. All of these came out of interviews.

- [x] Should we rename the "scenes" screen to Explore? I never want to refer to it as the scenes screen. It's confusing internally, but is also a mess to say when referring to it as a screen.
- [x] I notice the parachute is still l

[2019-09-24 20:14] SaurabhTotey commented on #29
This doesn't appear to show up on CT anymore. Closing.

[2019-09-24 20:14] #29 closed

[2019-09-26 23:27] jbphet commented on #24
I've integrated `BackgroundNode` into a number of places, and it does save code, but I have a suggestion.  When @zepumph and I were discussing this, I mentioned the `NumberDisplay` node.  That node takes a property and updates the readout and the background size whenever that property changes.  How about having `StringDisplay` (which could be a subclass of `BackgroundNode`) that provides a similar

[2019-09-26 23:40] zepumph commented on #24
I investigated this, but having the content node be a child of the background is problematic, for example the opacity of the background then applies to the child. I think it will be better to make the background a public member.

[2019-09-27 00:05] zepumph commented on #24
I looked into supporting NumberDisplay using BackgroundNode. I don't think it is a simple conversion. BackgroundNode is setup to change the background's bounds based on the current bounds of the passed in Node, where in NumberDisplay it is a background the remains statically sizes, and instead as the Property value changes, the text updates and realigns within the static background.

Over to you @

[2019-09-27 19:52] jbphet commented on #24
Makes sense, having it be a public member sounds good.

That's not quite what I was suggesting.  I was thinking that it might be good to have a `StringDisplay` node that was similar to `NumberDisplay` in that it takes a string property and the user updates the value of that property in order to update the node.  Upon further reflection, I don't think that gains us much, other than a similar API to

[2019-09-27 19:52] #24 closed

[2019-09-27 23:28] zepumph commented on #24
I think that sounds very excellent. Furthermore I wanted to add another reason that I gave up was that I couldn't of how `StringDisplay` could gain anything from extending `BackgroundNode`.

[2019-09-30 19:59] jbphet commented on #23
@amanda-phet said that it's probably best to have there be no color for the piggy banks at the value of zero, since it makes it clearer that zero is neither positive nor negative, so the plan is to leave it the way it currently is.  @amanda-phet - anything else to do on this one?

[2019-10-01 17:08] jbphet opened #31 "CT failure: Cannot set property numberLinePoint"
Continuous testing is currently failing with the error:

[code]

This looks like it is related to some refactoring that @SaurabhTotey and I were discussing yesterday.

[2019-10-01 17:10] jbphet commented on #31
@SaurabhTotey - I commented out the line that was causing the failure, since it looked like it was trying to directly set a single number line point, which is what we're moving away from.  Can you please take a look and delete the line permanently if that's what needs to happen?

[2019-10-02 16:01] KatieWoe opened #32 "CT too many points on number line"
[code]

[2019-10-02 17:49] jbphet commented on #32
This can be duplicated by adding more than one thermometer to the map in the "Temperature" scene.

The problem is that there are too many points ending up on the number lines somehow, and the comparison statement is asserting because it can't handle it (which is good).  My educated guess is that it is a result of some recent refactors that were done to try to make point controllers able to control

[2019-10-03 22:16] jbphet opened #33 "Pixel polishes from 10/3/2019 review meeting"
The sim was reviewed in design meeting today, here's what needs to be done as a result:
- [x] add a per-scene reset, use the small grayish undo button, but it above leftmost scene buttons
- [x] rename "Scenes" to "Explore"
- [x] make all the comparison statements the same size, make the "Elevation" scene image a little smaller so that this works
- [x] increase the label font size (the one with whi

[2019-10-04 19:11] SaurabhTotey commented on #31
Closing now that NLI is green on CT again.

[2019-10-04 19:11] #31 closed

[2019-10-04 19:12] SaurabhTotey commented on #32
Closing now that NLI is green on CT again.

[2019-10-04 19:12] #32 closed

[2019-10-07 21:07] amanda-phet commented on #26
@SaurabhTotey and I did experiment a bit with images and found a way to compress the map images. I haven't done it for all 12 months, but if we decide to go that route please assign this issue to me to deliver those new assets.

[2019-10-07 21:08] amanda-phet commented on #22
I like the screen icons so I'll close this issue. Please reopen if you want any further changes.

[2019-10-07 21:08] #22 closed

[2019-10-09 19:08] jbphet commented on #13
I added a fix for this in https://github.com/phetsims/number-line-integers/commit/c86c2e8e2a57b0ecc33f5c2615ddc35d4240514f, but I'm going to review with @amanda-phet to make sure the behavior is what we're after.

[2019-10-09 19:08] jbphet commented on #25
@amanda-phet - I'm turning this over to you to test the latest behavior.  Here are some specific notes:

Should be fixed.

I've implemented a way to handle this that seems pretty decent, but there are some tradeoffs versus other ways of handling this (you and I discussed this over Slack).  Please test the latest behavior and, if you're good with it, we'll just close this issue.  If not, please not

[2019-10-09 19:22] jbphet opened #34 "Adjust the pointer areas for better usability on touch devices"
In the 10/3/2019 review meeting for this sim, @kathy-phet suggested that we go through and adjust the pointer areas, since she found it tricky to use on her phone.  Since the sim is pretty much functionally complete, it would be a good time to that now.

[2019-10-11 22:57] jbphet commented on #2
I've modified the way the equation is created to that it uses a Scenery `Line` node for the absolute value indicators.  This line node is made to match the bounds of the number characters, which protrude a bit above and below what is visible.  This seems to work pretty well.  Here are some screenshots for comparison.

Before:

![image](https://user-images.githubusercontent.com/3082831/66685655-651

[2019-10-11 22:58] jbphet commented on #2
@amanda-phet - please test this out in https://phet-dev.colorado.edu/html/number-line-integers/1.0.0-dev.7/phet/number-line-integers_en_phet.html and let me know what you think.

[2019-10-11 23:01] jbphet commented on #33
I believe all of the requested changes listed above have been addressed.  @amanda-phet - please take a look at https://phet-dev.colorado.edu/html/number-line-integers/1.0.0-dev.7/phet/number-line-integers_en_phet.html and test whether the changes are what we're after.  If everything listed has been addressed, please close the issue.

[2019-10-11 23:02] jbphet commented on #30
@amanda-phet - I believe @SaurabhTotey and I have addressed the listed items, please verify on version https://phet-dev.colorado.edu/html/number-line-integers/1.0.0-dev.7/phet/number-line-integers_en_phet.html.

[2019-10-11 23:03] jbphet commented on #13
Should be fixed.  @amanda-phet - please test version https://phet-dev.colorado.edu/html/number-line-integers/1.0.0-dev.7/phet/number-line-integers_en_phet.html and let me know if you're okay with the new behavior.

[2019-10-11 23:05] jbphet commented on #3
@amanda-phet, @kathy-phet, and I met last week and reviewed the latest version, and several changes were requested (see https://github.com/phetsims/number-line-integers/issues/3).  I think this issue can be closed.

[2019-10-11 23:05] #3 closed

[2019-10-14 16:16] amanda-phet commented on #13
I noticed that if I press and hold a button and one bank skips over the other, it still nudges the other one. However, if I'm dragging a pig past the other it doesn't happen. Ideally if we are quickly moving one pig past the other (either dragging the pig or using the buttons) it won't cause the other one to change value. Is it possible to make this happen when someone is pressing and holding a bu

[2019-10-14 16:22] amanda-phet commented on #30
Verified all of those are looking good.

One quick question- did the size of the font for the temperature here (-15º F) change intentionally or was that by accident?
![image](https://user-images.githubusercontent.com/7852916/66766896-76e35780-ee6c-11e9-97bf-0bd1bc434c26.png)

[2019-10-14 16:26] amanda-phet commented on #33
Oops, I wanted this to be white! Just like in Unit Rates.

I was hoping that by doing this, we could maximize the size of the number lines to fit the space. It seems like the bank, temperature, and generic number lines could all be larger now that the leader is smaller. Can we make that change?

Everything else looks great!

[2019-10-14 16:27] amanda-phet commented on #2
I really like these slightly taller lines! Thanks for making that change.

[2019-10-14 16:27] #2 closed

[2019-10-14 16:33] #25 closed

[2019-10-14 16:35] amanda-phet commented on #23
All looks good, thanks!

[2019-10-14 16:35] #23 closed

[2019-10-14 16:42] amanda-phet opened #35 "Changes to "zero""
Since zero is neither positive nor negative, we need a few special behaviors at 0.

**Elevation scene**
- [x] When an item is at 0m, the absolute value text should say "sea level" instead of "0m above sea level."
- [x] If possible, the items at 0m should maintain the state they were in as they approach 0. So, if dragging up, a bird might be diving at -1m and at 0m, is still diving. If dragging dow

[2019-10-14 18:38] amanda-phet commented on #33
One more request about the per-scene reset: can you center it over the scene selection buttons too? Not sure I love the left placement.

[2019-10-14 18:53] amanda-phet commented on #9
I realized we might also want a sentence describing the data (a student in an interview even asked me which day we were looking at during that month!).

One idea is to put this information right under the map:
![image](https://user-images.githubusercontent.com/7852916/66774956-237b0480-ee80-11e9-9d40-40b6fa4eb380.png)

Alternatively, we can nest the information in an info button:
![image](https://

[2019-10-14 19:03] kathy-phet commented on #9
Do you have a preference? If it is under the graph, I think it can be another pixel or two smaller font.

[2019-10-14 19:05] amanda-phet commented on #9
I think I prefer the persistent one so there isn't another button. I agree a smaller font could be fine too.

I would love to know if others have preferences too!

[2019-10-16 20:17] amanda-phet opened #36 "Include Go Lab as a collaborator"
When listing team members for this sim we should include "and in cooperation with Go Lab".

When making the sim visible on the website, add "Go Lab" to the Thanks to section of the credits on the sim page.

[2019-10-16 23:56] jbphet commented on #35
@amanda-phet - I've implemented these changes on master, please check them out and let me if they look okay.

[2019-10-18 00:01] jbphet commented on #33
The three 2nd round revision requests have been made, details below.  Please check them on master and let me know what you think.

The reset button in Unit Rates is actually a light gray, so I matched the color used there.

Done.

I took a shot at this.  The bank scene is probably the trickiest because we need to make sure that the piggy banks never overlap with the buttons.  Please take a look at

[2019-10-18 00:17] jbphet commented on #30
Oops - that was a bug that was introduced while added the ability to change the label font for the Generic screen.  Should be fixed.

[2019-10-18 22:40] jbphet commented on #33
I moved the per-scene reset button to be centered above the selectors, and it gave me an idea: Since there is one per-scene reset button for each scene, what if we put the reset button for the scene above the selector for that scene?  It might make it more clear that it goes with the scene.

[2019-10-18 23:12] jbphet commented on #13
I've modified the behavior so that the value swap only occurs if the user releases one of the buttons and causes the balances to be the same.  This seems more consistent with the dragging.  @amanda-phet - please test drive on master and see what you think.

[2019-10-21 21:45] amanda-phet commented on #13
This is working well for me. Thanks for making that change!

[2019-10-21 21:45] #13 closed

[2019-10-21 21:47] amanda-phet commented on #33
The larger number lines are great! Thanks!

The other changes look good. Happy to discuss moving the reset button above each scene selection if that's an easy change to try out.

[2019-10-21 22:05] amanda-phet commented on #30
Looks good now :) Thank you!

[2019-10-21 22:05] #30 closed

[2019-10-21 22:06] amanda-phet commented on #35
All look great to me. Thanks so much.

[2019-10-21 22:06] #35 closed

[2019-10-24 19:28] jbphet commented on #36
There is a "Thanks" section in sim credits, and it seems to me that this would be an appropriate place for any mention of Go Lab.  The screenshot below shows what this looks like for MLL in Ohm's Law.  Agreed?  If so, let's decide on the exact wording.  If not, is there some particular reason that we have them listed as a team member?

![image](https://user-images.githubusercontent.com/3082831/675

[2019-10-24 19:33] jbphet commented on #33
@amanda-phet - we were going to potentially discuss the moving scene reset buttons at design meeting this week, but we didn't get a time slot.  I think you and I should make a call as to whether to leave it as is or add the feature and see what we think.  I'd estimate about an hour to add it and publish a dev version for evaluation.  What's your opinion - worth it or not (I'm not attached to the i

[2019-10-24 19:35] jbphet commented on #26
@amanda-phet - let's try the compressed images.

[2019-10-24 19:37] jbphet commented on #9
I too would express a preference for the persistent one under the graph.  Shall I move forward with the implementation?

[2019-10-24 20:07] jbphet commented on #9
Discussed during fire alarm, consensus is to add it but in a fairly small font (probably 10 pt) and use a gray rather than black color.

[2019-10-25 04:55] zepumph opened #37 "static getters in es6 classes is bad-sim-text"
Since some work was done on https://github.com/phetsims/chipper/issues/791 a few weeks ago, the `bad-sim-text` lint rule has not been working right. As a result, it didn't error on static getters added in `BankSceneModel.js`. I added `// eslint-disable-line bad-sim-text`, but this isn't good enough. We don't support them because Babel doesn't transpile them appropriately. see https://github.com/ph

[2019-10-25 16:59] amanda-phet commented on #36
I was following what @arouinfar did for a recent science sim that included GoLab as a collaborator.

For this sim, they gave specific design feedback as well as a financial contribution.

[2019-10-25 17:25] jbphet commented on #9
This is in place on master.  I showed it to @amanda-phet and @kathy-phet, and they generally agreed that it looked good, but @amanda-phet wanted to check the contrast using some tools that she has.  Assigning to her for that, she can close if it looks good or assign back to me if it needs some changes.

[2019-10-25 17:40] jbphet commented on #36
I just searched through the code base and didn't see any references to "Go Lab" , "Go Labs", "GoLab", or "GoLabs", so maybe @arouinfar hasn't had it added yet.  Adding her as an assignee so that she can perhaps fill us in.

[2019-10-25 17:51] amanda-phet commented on #9
It looks like you're using #999999 and that indeed fails WCAG guidelines. Please change it to #707070 for a higher contrast (still gray, but darker).

[2019-10-25 18:10] arouinfar commented on #36
@jbphet here's what I had said in the email chain about the credits.

[2019-10-25 18:20] amanda-phet commented on #36
Thanks @arouinfar .

I can check with @kathy-phet about what we should say.

[2019-10-25 18:52] jbphet commented on #37
Thanks @zepumph - good to know.  I've modified these static properties to use the approach elucidated in https://github.com/phetsims/wave-interference/issues/281#issue-392730446.  Closing.

[2019-10-25 18:52] #37 closed

[2019-10-25 19:10] kathy-phet commented on #36
Match what we did in Energy Forms and Changes. Thanks!

[2019-10-25 19:14] jbphet opened #38 "Update font sizes"
@kathy-phet, @amanda-phet, and I met today to do more "pixel polishing" on this sim.  Font sizes were one of the big discussion items, here is what I took from the meeting:

+ Most if not all of the fonts associated with readouts of variable number information should have a point size of 18.  This will make them easier to read on phones and also in the back of the room if used on projectors.  This

[2019-10-25 19:20] jbphet opened #39 "Move the temperature text readout from the number line to the thermometer"
This was decided upon at today's review meeting with @kathy-phet and @amanda-phet.

We should move the readout in the temperature scene that is associated with the absolute value indicator and says things like "10° above zero" from the number line to the right of the thermometer bulb.

The following should be done as part of this effort:
- [x] The font size for this should be increased to 18
- [x]

[2019-10-25 19:22] jbphet opened #40 "Make the checkboxes match the text height"
The checkboxes are currently significantly bigger than the text labels, and should be reduced to match.  This was recently done for Gas Properties as part of the pixel polishing, so that can be used as an example.

[2019-10-25 19:25] jbphet opened #41 "Find a better color for the orange point controller on the "Generic" screen"
@kathy-phet has suggested that we try to find a color with more contrast for the orange point controller on the Generic (2nd) screen.

![image](https://user-images.githubusercontent.com/3082831/67598494-e427a000-f72a-11e9-8af6-47668232d0f2.png)

[2019-10-25 19:42] jbphet commented on #34
At a review of this sim today, @kathy-phet had two suggestions:

+ increase the pointer area for the combo boxes
+ increase the size of the pointer areas for the point controllers such that they are easier to grab from further away from the number line.  See the screenshots below - the yellow portion indicates the extension (roughly)

![image](https://user-images.githubusercontent.com/3082831/6759

[2019-10-25 19:51] jbphet opened #42 "Consider moving things down a bit on bank and temperature scenes"
@kathy-phet was just looking over the sim and felt that there was a fair amount of white space below the interactive area in the "Bank" and "Temperature" scenes.  Should these be moved down a bit?  We may want to reposition the scene selector buttons too if so.

[2019-10-25 20:01] jbphet opened #43 "Increase the "disconnect" distance"
@kathy-phet was testing this sim on a phone and found that it was a little too easy to remove points from the number line when just trying to get one's finger out of the way in order to see the number line better.  We should increase the tolerance for this, which essentially means to increase the "point removal" distances for both the horizontal and vertical number line orientations.

[2019-10-25 20:21] kathy-phet opened #44 "Improve readability of "green" font on the bank scene by using darker shade in piggy bank"
On the phone, the contrast of the green font on white is hard to read. Can we use the darker shade of green in the piggy bank? (the upper text box, versus the current shade which is in the lower text box). The red font has really good contrast and is easy to read.
![image](https://user-images.githubusercontent.com/5096804/67601848-957e0400-f732-11e9-807f-b42cbf433b70.png)

[2019-10-25 20:31] kathy-phet opened #45 "Suggestion: Add a "Label" check box to the "Explore" screen"
It occurred to me while I was playing with this screen, that it would be useful to be able to hide the labels - just like we do on the second screen. I think @amanda-phet and I may have discussed this previously as it feels familiar? On each scene this would hide the label on the numberline, and additionally in the bank scene it would hide the value on the piggy bank.

This would add uniformity ac

[2019-10-25 20:34] jbphet commented on #9
Update made.  Are we good to go on this now @amanda-phet?

[2019-10-25 20:50] kathy-phet commented on #42
Another reason to move the scene down is that there is an overlap issue in this case:
![image](https://user-images.githubusercontent.com/5096804/67603642-b9dbdf80-f736-11e9-8eed-e6b5df8b88f2.png)

[2019-10-25 20:51] kathy-phet opened #46 "Absolute Value Label needs to pop back into position if coins stop dumping in"
Add coins. When they stop, absolute label value isn't "listening" and repositioning.
![image](https://user-images.githubusercontent.com/5096804/67603718-e132ac80-f736-11e9-8739-a528794e94b4.png)

[2019-10-25 21:00] kathy-phet opened #47 "Comparison statement accordion button/title bigger?"
Accordion button seems sort of small given this important concept idea. Maybe make that 18 font and bigger button - like in Gas Properties?

[2019-10-25 21:02] kathy-phet commented on #42
On Temperature screen, moving it down will help with this overlap.
![image](https://user-images.githubusercontent.com/5096804/67604322-8437f600-f738-11e9-82b1-01069f60eb78.png)

[2019-10-25 23:16] jbphet commented on #46
I tried a number of different approaches for this, and most ended up with some odd and/or distracting animation of the label position.  I ended up going for something simple - the labels just maintain a constant relationship to the edge of the piggy banks.  This will overlap with the coin animations in some cases, but I found this to be less objectionable than having them jump around.  @kathy-phet

[2019-10-25 23:23] kathy-phet commented on #46
This looks good to me. Thanks!

[2019-10-25 23:25] jbphet commented on #43
I've increased the point removal distance by roughly 50%.  In the horizontal number line orientation, this means that the user needs to drag a bit over half way back to the storage box before the points release, so I don't want to go too much beyond this amount.  @kathy-phet and @amanda-phet - please give this a try and give me your feedback.

[2019-10-25 23:35] jbphet commented on #40
I attempted to stylistically match what is currently live in Gas Properties, where it looks like the upper and lower edges of the checkboxes go just above and just below the largest letter.  Below is what it looks like.  Does this fit the bill?

[2019-10-25 23:35] jbphet commented on #40
It looks like this:

![image](https://user-images.githubusercontent.com/3082831/67610105-d6cfdd00-f74d-11e9-9807-f1120974dd07.png)

[2019-10-25 23:36] jbphet commented on #38
These adjustments should be made.  @kathy-phet and/or @amanda-phet - please look them over on master and let me know if further changes are needed.

[2019-10-28 18:03] jbphet commented on #45
This seems like a reasonable suggestion to me, and I particularly like the idea that it could be turned off and students would need to estimate values, which could help to develop more intuition about scale and about how the numbers are there whether or not they see them.

In my opinion, the default should be on.

@amanda-phet - since you're the head designer, I'm assigning to you for a 'yay' or '

[2019-10-28 18:04] jbphet commented on #44
This doesn't seem too contraversial, so I'm going to implement it on my next NLI development day (though @amanda-phet is of course free to chime in if there are objections).

[2019-10-28 18:49] amanda-phet commented on #41
This orange is nearly identical to the orange used in Vector Addition. It is likely the background color that makes it seem different here (since it's not white).

I updated the color to #ff8a15 on master. @kathy-phet see if that works for you. If not, I will look for an entirely new color, or perhaps 3 new colors.

[2019-10-28 18:50] amanda-phet commented on #9
Looks good, thanks.

[2019-10-28 18:53] amanda-phet commented on #47
I don't think the button needs to be any bigger, since minimizing this statement isn't an important concept. I'm fine with making the title font larger. @jbphet please make the titles 18pt.

@kathy-phet we should make it a priority to revisit our default font sizes across common code, or at least the font size we ultimately want should be standardized (since changing common code can be really cost

[2019-10-28 19:09] amanda-phet commented on #42
I agree that everything could be moved down a little (perhaps less on the bank scene though).

I'm not sure how to reproduce that overlap on the bank scene-- how did you do that? Here is what I see:
![image](https://user-images.githubusercontent.com/7852916/67709703-197afa80-f984-11e9-98cf-13128d005184.png)

[2019-10-28 19:11] amanda-phet commented on #46
Ah, I see what was happening in that other issue now! I like the behavior I'm seeing on master right now where the coins animate behind the label.

[2019-10-28 19:13] amanda-phet commented on #43
I think this is too far. Can we scale back a bit? Maybe what would have been 35%?

[2019-10-28 19:16] amanda-phet commented on #40
These look too small to me. Here are some recently published sims that I would prefer to match:

![image](https://user-images.githubusercontent.com/7852916/67710169-13d1e480-f985-11e9-9417-827180724d4f.png)

![image](https://user-images.githubusercontent.com/7852916/67710112-f13fcb80-f984-11e9-8425-d18c118007f2.png)

[2019-10-28 19:22] amanda-phet commented on #38
All of the fonts look correct to me.

@kathy-phet please close if it looks good to you.

[2019-10-28 19:50] amanda-phet commented on #45
Sure, let's add labels. I agree they should be on by default on the Explore screen.

[2019-10-28 19:52] amanda-phet commented on #44
That works for me.

@jbphet you have the hex code, right? I think I gave it to you as part of the color scaling from lightest to darkest. But let me know if you need it.

[2019-10-29 19:34] kathy-phet commented on #40
@ariel-phet - Tagging Ariel here, since it was brought up by him at a recent design meeting. Perhaps the designers should set a standard together here - since its a bit all over the map.

[2019-10-29 19:38] kathy-phet commented on #43
I agree it seems too much now. Maybe split the difference. On the phone it seems like it could be less than it is now and still work.

[2019-10-29 19:50] kathy-phet commented on #41
Thanks, Amanda. This does make a difference. I think it works enough better to go with it.

Can we change the default starting point too? So that we start with the very high contrast blue point out, and the pink and orange in the bin?

[2019-10-29 19:54] kathy-phet commented on #45
@amanda-phet - If default is "labels" on on the Explore. It seems like we should match that default and make it "on" on the Generic too, since that is probably how most people will want to use it? What do you think?

[2019-10-29 20:39] amanda-phet commented on #41
I love that idea! The blue is my favorite, so I say we start with that as the default color. The other points can stay in their current location in the panel, we just need to put the blue point at 1 on the number line and keep the orange one in the panel. @jbphet off to you.

[2019-10-29 20:41] amanda-phet commented on #45
That's fine with me. I usually want it on every time I go to the Generic screen :)

[2019-10-29 22:44] kathy-phet opened #48 "Overlap issues on absolute value of vertical "generic" screen"
I was just playing an noticed some overlap issues with the absolute value reading in the vertical generic screen. @amanda-phet - did you consider possible rotating the absolute value readouts so they are more like in the horizontal screen?
![image](https://user-images.githubusercontent.com/5096804/67815017-57068300-fa6b-11e9-8b91-4cd350c78f40.png)

[2019-10-29 22:49] kathy-phet opened #49 "Pixel polish: Consider making tick marks less prominent?"
In a scene like this one, I find the tick marks and number labels on the numberline to be pretty prominent and competing with the points themselves. I thought maybe if the ticks in the middle (not the ends) of the number line were narrower or a dark grey or both that might help with the feeling of competition for attention? Thoughts?
![image](https://user-images.githubusercontent.com/5096804/67815

[2019-10-30 20:21] jbphet commented on #36
There is no mention of Go-Lab in the EFAC credits, but there is a mention of Next-Lab.  I googled on Go-Lab and found https://nextlab.golabz.eu/initiative, and the banner on that site looks like this:

![image](https://user-images.githubusercontent.com/3082831/67895462-292f4600-fb20-11e9-81c0-3e4cc67e3395.png)

So, it seems like Next-Lab and Go-Lab are closely related, though I don't know the deta

[2019-10-30 20:25] jbphet commented on #36
This has been committed to master and is available there, and looks like this (don't worry about the other field values just yet - I'll update them before publication):

![image](https://user-images.githubusercontent.com/3082831/67896008-2123d600-fb21-11e9-95a6-4d3bc6e37eab.png)

[2019-10-30 20:26] jbphet commented on #36
@kathy-phet and @amanda-phet - good to go on this?

[2019-10-30 22:03] ariel-phet commented on #40
To me, it is the check boxes should be "approximately" the same vertical size as the first uppercase label letter. A bit bigger is fine with me, but in some cases we will need things to be more compact. It is more in very early sims the check boxes were kind of over-the-top huge.

I am fine with sizes that are about the size of the first uppercase letter or a bit larger.

[2019-10-31 19:27] amanda-phet commented on #48
I think that this is because we increased the font sizes, so @jbphet can probably tweak the spacing.

At one point I think we considered rotating the text, but I don't think that's very user-friendly, especially for younger audiences. I think it might be best to tweak the spacing.

[2019-10-31 19:27] amanda-phet commented on #48
@jbphet can you adjust the spacing for these labels?

[2019-11-01 14:55] KatieWoe opened #50 "CT maxWidth should be null or a positive number"
[code]

[2019-11-01 20:29] jbphet commented on #50
This was due to a calculation that ended up with a negative width value when trying to determine how much space was available in a panel.  I've added a `maxWidth` that prevents the situation from occurring.  Closing.

[2019-11-01 20:29] #50 closed

[2019-11-01 20:48] jbphet commented on #48
@amanda-phet - you're correct, this is a result of the recent font size changes.  I adjusted the distance for the absolute value span that is closest to the number line based on what I believe is the worst case alignment (see below).  Please check this and close if it looks good.

![image](https://user-images.githubusercontent.com/3082831/68055385-25cdc300-fcb6-11e9-9d05-01a405abbdc4.png)

[2019-11-01 21:18] jbphet commented on #47
Done, looks good to me, closing.

[2019-11-01 21:18] #47 closed

[2019-11-01 21:44] jbphet commented on #44
Not that I know of.  The darker color is actually generated as a combination of the nominal fill and the overlayed image that contains the flowers or lightning bolt, so it's not actually used in the code anywhere.  To get the value, I just extracted it from a screenshot of the piggy bank and used the coler from the dark patch just below the eye.  The value is `#0e977b`, and that matches the text i

[2019-11-01 21:44] #44 closed

[2019-11-01 21:49] jbphet commented on #39
I moved the readout and resized the font, but the behavior was problematic since the background color flashed a lot, which I felt was distracting.  We then tried just a white background with black text, which wasn't bad but didn't look great when this was not over the map (such as when measuring temperatures on the right side of the map).  @amanda-phet suggested using the scheme we use in the comp

[2019-11-01 21:49] #39 closed

[2019-11-01 22:20] jbphet commented on #41
@amanda-phet - The way the panel is implemented it fills from left to right, and I didn't want to change this unless I really needed to, so the initial arrangement has changed a bit.  I like it, since the initial position of blue point on the number line is close to where it goes in the panel.  Please have a look, and close this if you're okay with it.

[2019-11-01 22:35] jbphet commented on #45
I've implemented a version of this and have two questions:

+ Is the checkbox order okay?
+ Shall we also hide the thermometer letter labels?  I have opted **not** to do so in what I've done so far, since I don't see any value in hiding these, and it would make it harder to match the thermometer values to the positions on the number line.

[2019-11-01 23:16] jbphet commented on #34
@SaurabhTotey and I have implemented larger and asymmetric touch areas.  I've tested them on my Win 10 computer with touch screen, and they seem to work pretty well.  @kathy-phet - can you test on your phone and give us feedback?

![image](https://user-images.githubusercontent.com/3082831/68061542-01c8ac80-fccb-11e9-9b14-efbbc58c5bec.png)

![image](https://user-images.githubusercontent.com/3082831

[2019-11-04 19:35] jbphet commented on #43
I've adjusted it down a bit, basically splitting the difference as suggested.  @kathy-phet and @amanda-phet - please try it now (on master) and see what you think.

[2019-11-04 21:47] amanda-phet commented on #43
This works for me. @kathy-phet if you like it then I'm fine if you close this issue!

[2019-11-04 21:51] amanda-phet commented on #45
Let's put Labels first, to match the Generic screen.

My understanding of this checkbox is it shows/hides the labeled value on the number line. So, it would not be consistent for it to hide anything else, such as the letter labels.

[2019-11-04 21:52] amanda-phet commented on #41
I just meant you can do whatever is simplest, so if having the blue point be the rightmost point is the simplest then that is fine!

[2019-11-04 21:52] #41 closed

[2019-11-04 21:54] amanda-phet commented on #48
Those look good to me. Thanks for making those adjustments. I couldn't find any other opportunities for the text to overlap.

[2019-11-04 21:54] #48 closed

[2019-11-04 22:22] amanda-phet commented on #40
@jbphet can we move forward with a slightly larger checkbox that matches what is done in EFAC?

[2019-11-04 22:23] amanda-phet commented on #36
Looks good, thanks.

I will keep this assigned to me so I remember to add Next-Lab to the credits when making the sim visible.

[2019-11-04 22:27] amanda-phet commented on #49
My preference would be to keep it the way it is. It only seems to be an issue when the NL in this exact configuration (I don't find it to be an issue when the NL is horizontal, or when the range is one of the other selections).

The tick marks give a sense of scale, and while I wouldn't mind making some tick marks smaller, it wouldn't make much sense at the other ranges.

[2019-11-04 22:28] amanda-phet commented on #33
@jbphet and I discussed this in-person last week and we decided to just leave the scene reset button as it is. If @ariel-phet or @kathy-phet  would like to tweak it, let's re-open the issue.

[2019-11-04 22:28] #33 closed

[2019-11-05 00:51] kathy-phet commented on #45
Amanda- to share the reason I recommended labels second is because you cannot actually hide the numberline at all on the generic screens and I didn’t think it was something you would want to do much of, so I thought put it at the top with default on since that would keep the order of the other boxes consistent with the generic screen?

Sent from my iPhone

On Nov 4, 2019, at 2:51 PM, Amanda McGarr

[2019-11-05 02:31] amanda-phet commented on #45
I didn't know it was intentional. That is fine with me.

[2019-11-06 19:24] KatieWoe opened #51 "Checkbox for number line and labels"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
Testing master per @jbphet request.
On the explore screen, you can turn on/off both the number line and the labels. However, the labels will only appear if the number line is there. Because of this, it makes more sense to have the labels checkbox be a subset of the number line checkbox, as seen in the WI ex

[2019-11-06 19:37] amanda-phet commented on #51
I can see this being a good idea. If number line is off, then the labels checkbox doesn't do anything.

[2019-11-06 19:53] KatieWoe opened #52 "No indication of opposites if another point is in that spot"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
Testing on master for @jbphet.
I noticed that, if you put a second point over an "opposite" point, there is no indication of information under that second point. I wonder if it would be worth finding some way to indicate there is an opposite point there.

**Visuals**
![someindicate](https://user-images.gith

[2019-11-06 22:41] jbphet commented on #40
This is with a checkbox `boxWidth` of 17, which is about 13% bigger than the previous version and 20% smaller than it was originally, when it was using the default value of 21.  @amanda-phet - please have a look.  If further tweaking is necessary, let's do it together in person or over Zoom.

![image](https://user-images.githubusercontent.com/3082831/68343991-4aa5aa00-00ab-11ea-986d-dabbe1c3b495.p

[2019-11-06 22:50] jbphet commented on #40
I talked with @amanda-phet, and she said the new size looks good.  Closing.

[2019-11-06 22:50] #40 closed

[2019-11-06 23:02] jbphet commented on #45
Issue #51 is another good reason why the "Labels" checkbox should be below the "Number Line" checkbox - it should be disabled when the number line is not visible.

I think we're basically done with the process of adding this control, so I'm going to close the issue.

[2019-11-06 23:02] #45 closed

[2019-11-06 23:07] jbphet commented on #51
@amanda-phet and I discuss this and decided to make the "Labels" checkbox go disabled when the number line is not visible, but we decided **not** to indent it, at least for now.  This is because the alignment just looks better this way, and we don't expect that people will disable the number line very much anyway, so we might as go with the alignment with the best aesthetics.

@amanda-phet - over

[2019-11-07 20:50] samreid opened #53 "Use PHET_CORE/Orientation instead of NumberLineOrientation"
In https://github.com/phetsims/phet-core/issues/76 we generalized an `Orientation` enumeration in PHET_CORE.  It seems like this sim could used it, and delete `NumberLineOrientation`.  Assigning to responsible dev.

[2019-11-07 21:50] amanda-phet commented on #51
I this this looks good and functions well. Thanks all!

[2019-11-07 21:50] #51 closed

[2019-11-07 21:57] amanda-phet commented on #52
This is not a bug.

I don't have an issue with this overlap, because the points are each others' opposites! I also didn't notice any issues with this in particular in interviews, so I'm fine not addressing this.

[2019-11-07 21:57] #52 closed

[2019-11-08 21:59] jbphet commented on #53
Thanks for creating this enum @samreid.  It's been integrated into NLI.  Closing.

[2019-11-08 21:59] #53 closed

[2019-11-13 23:17] loganbraywork opened #54 "Sim doesn't open IE"
**Test device**
Windows 7 device
**Operating System**
Windows 7 6.1
**Browser**
Internet Explorer
**Problem description**
Fails to open in IE, similar to other recent fail to load issues

Console Error:

DOM7011: The code on this page disabled back and forward caching. For more information, see: http://go.microsoft.com/fwlink/?LinkID=291337
File: number-line-integers_en_phet.html
HTML1300: Navigat

[2019-11-13 23:42] KatieWoe opened #55 "Temperatures can go below the nav bar"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/457.
It is possible to put a thermometer in such a place that it's reading on the number line is hidden partially, or even mostly, by the nav bar.  It can be seen fully if you adjust the window size to be more tall than wide, but most default sizes (excluding tablet

[2019-11-14 16:45] KatieWoe opened #56 "Dot leaves behind the piggy bank"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome/Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/457.  After a reset of the Explore page, the bottom piggy bank stops moving with the dot on the number line when changing the values with the add/subtract money buttons.  The piggy bank also does not move if you use the grey reset scene button.
**Steps to re

[2019-11-14 17:14] KatieWoe commented on #55
Honestly, the fact that the bottom of the grey box holding the number line gets cut off looks a bit odd to me.

[2019-11-14 17:36] jbphet commented on #54
This is already identified as a general problem with the build process in https://github.com/phetsims/perennial/issues/153.  I am going to mark it as "blocks publication" but will also unassign it, since there is nothing I can do in the sim code itself.  This will remind me to double check that the problem is resolved before publishing.

[2019-11-14 17:52] megan-phet opened #57 "Screen shifts to upper left corner when trying to enlarge via trackpad"
<b>Test Device</b>
- MacBook Pro

<b>Operating System</b>
- MacOS 10.15.1

<b>Browser</b>
- Safari 13.0.3
- Not a problem in Chrome

<b>Problem Description</b>
For phetsims/QA#457
The screen shifts to the upper left corner when trying to enlarge it on the trackpad.

<b>Steps to Reproduce</b>
1. Open the sim
2. Try to enlarge by spreading your finger apart on the trackpad.

<b>Visuals</b>
![Kapture

[2019-11-14 17:58] jbphet commented on #57
@megan-phet - can you please test some other sims on master and see if this happens to them too?  I need to know if this problem is specific to this sim or a general issue with the current codebase.

[2019-11-14 18:31] megan-phet commented on #57
It is happening on other sims.

[2019-11-14 18:54] amanda-phet commented on #57
Will this sim be published with pinch-to-zoom? I thought that was only available in Molecules and Light for right now.

[2019-11-14 18:57] amanda-phet commented on #55
That is indeed a bug. Un-assigning since I don't think this requires a design decision.

[2019-11-14 19:04] megan-phet opened #58 "Labels overlap when the piggy banks are close to each other"
<b>Test Device</b>
- MacBook Pro

<b>Operating System</b>
- MacOS 10.15.1

<b>Browser</b>
- All latest

<b>Problem Description</b>
For phetsims/QA#457
Labels will overlap when the two piggybanks are close to each other.

<b>Visuals</b>
<img width="255" alt="Screen Shot 2019-11-14 at 12 03 43 PM" src="https://user-images.githubusercontent.com/40698031/68887895-13508200-06d7-11ea-9c16-f5de1541c090.p

[2019-11-14 19:05] KatieWoe opened #59 "Multitouch adding and removing coins at the same time"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/457. Fairly minor.
When you press both the add and subtract coins buttons for a bank at the same time two different behaviors can occur. The first is that the bank does not change at all. This occurs if you start both buttons at the same time. The second behavior is

[2019-11-14 19:37] KatieWoe commented on #34
For https://github.com/phetsims/QA/issues/457.  They seem a bit large to me, especially since they go out of the toolbox.  Haven't used on a small screen yet, so reserving judgement in that area.

[2019-11-14 19:39] amanda-phet commented on #34
@KatieWoe said

Can you clarify what you mean by "they go out of the toolbox"? Do you mean the points when they are still in the panel and not on the number line?

[2019-11-14 19:56] kathy-phet commented on #34
@KatieWoe - They are the way they are so that you can pick them up but have your finger out of the way on a small touch device. Previously, it was not possible to control it without also obscuring the point on the numberline - on a small device. Just FYI - so when you evaluate it you know what the goal was.

[2019-11-14 19:57] KatieWoe commented on #34
@amanda-phet yes that is what I mean

[2019-11-14 21:26] zepumph commented on #54
This should now be fixed because of commits in https://github.com/phetsims/chipper/issues/817. Please confirm and close if all is good.

[2019-11-14 21:36] KatieWoe commented on #57
This seems to be an issue in published sims as well.  It only occurs on Mac/safari combos and seems to be a result of Macs assuming you can zoom, even if you can't.  Moving this to scenery and assigning @jessegreenberg so he is aware of the behavior.

[2019-11-14 21:52] KatieWoe commented on #55
On iPadOS 13 it looks better, but changing browsers (firefox vs chrome vs edge) didn't seem to make a difference.

[2019-11-14 22:42] loganbraywork opened #60 "Diver can be placed underneath the play area"
**Test device**
Windows 10 laptop
**Operating System**
Windows 10
**Browser**
Chrome 78.0.3904.97
**Problem description**
From https://github.com/phetsims/QA/issues/457

The diver can be placed just underneath the play area. Will not return to original position, but also does not display a greater than or less than value since it is technically below -80m.
**Steps to reproduce**
1. Place diver jus

[2019-11-14 23:03] KatieWoe opened #61 "Memory Leak"
Memory Test for https://github.com/phetsims/QA/issues/457:
Start: 33.4
1 min: 46.6
2 min: 58.9
3 min: 68.7
4 min: 78.5
5 min: 86.8
6 min: 95
7 min: 105
8 min: 114
9 min: 122
10 min: 129
11 min: 137
12 min: 145
13 min: 153
14 min: 161
15 min: 174

[2019-11-14 23:24] jbphet commented on #56
This was because I'd recently added a reset of the individual number lines to the "Explore" screen reset function in order to be thorough.  It turns out that this removes and re-adds the point that was associated with the primary account control, so the association between the two goes away.  I've removed that portion of the reset function.

@KatieWoe - can you please test this on master and verif

[2019-11-14 23:26] KatieWoe commented on #56
Looks good on master

[2019-11-14 23:27] jbphet commented on #56
Cool, thanks, closing.

[2019-11-14 23:27] #56 closed

[2019-11-14 23:44] jbphet commented on #55
Yep, that's a bug.  I've repositioned the panel that contains the number lines and it looks much better.  @amanda-phet - I thought I'd run this by you to make sure you're okay with how it looks at the lowest temperature (I'm okay with it).  Screenshot below, please close if you approve.

![image](https://user-images.githubusercontent.com/3082831/68905293-e794c280-06fd-11ea-9117-0495233e10eb.png)

[2019-11-15 16:51] amanda-phet commented on #55
Looks good to me. Thanks!

@KatieWoe can you close if the bug is gone?

[2019-11-15 17:34] KatieWoe commented on #55
Looks good on master in chrome and firefox

[2019-11-15 17:50] jbphet commented on #58
This is by design.  Closing.

[2019-11-15 17:50] #58 closed

[2019-11-15 18:48] KatieWoe commented on #60
This can be very tricky to reproduce.  Trying to see if it can occur on temp screen.  Don't see how it would on bank screen.

[2019-11-15 19:19] KatieWoe commented on #60
Can also be above:
![bugpic](https://user-images.githubusercontent.com/41024075/68969401-1bc1bf00-07a2-11ea-99e0-e77bf3b3a4b3.png)

[2019-11-15 19:32] amanda-phet commented on #26
I've uploaded the new images, but I think you'll need to point to them in the code.

[2019-11-15 19:52] jbphet commented on #26
I've updated the code and removed the old .png files.  I also fixed the file names (they had the word "monthy" instead of "monthly" in them).  I did an before-and-after comparison and the built sim file (` number-line-integers_en_phet.html`) went from 5628kB to 3992kB.  Perhaps this is enough.  I'll compare to other sims and decide.

[2019-11-15 20:09] jbphet commented on #26
I had a bit of a discussion on Slack with other devs.  @pixelzoom pointed out that Gas Properties, which doesn't have many images, weighs in at ~2MB and EFAC, which has quite a few images, is 3.7MB.  It seems like this sim is in that ballpark.

@ariel-phet - is this size (basically 4MB) okay?  Further reduction is likely to be challenging, so I thought I'd check in as to whether we're "there yet".

[2019-11-15 20:22] pixelzoom commented on #26
Taking a quick look at images/. Your home and nav icons could be created programmatically.  And many of your non-`world-temp*` images seems to be much bigger than necessary.  Anything bigger than 1.5x what you need is liable to end up with with scaling artifacts.

world-temperatures-monthy-averaged-2018-01.jpg and world-temperatures-monthy-averaged-2018-01.png appear to be duplicates.  Why do you

[2019-11-15 20:23] pixelzoom commented on #26
Taking a quick look at images/. Your home and nav icons could be created programmatically.  And many of your non-`world-temp*` images seems to be much bigger than necessary.  Anything bigger than 1.5x what you need is liable to end up with with scaling artifacts.

world-temperatures-monthy-averaged-2018-01.jpg and world-temperatures-monthy-averaged-2018-01.png appear to be duplicates.  Why do you

[2019-11-15 20:24] pixelzoom commented on #26
Taking a quick look at images/ ...

* Your home and nav icons could be created programmatically.
* Many of your non-`world-temp*` images seems to be much bigger than necessary.  Anything bigger than 1.5x what you need is liable to end up with with scaling artifacts.
* world-temperatures-monthy-averaged-2018-01.jpg and world-temperatures-monthy-averaged-2018-01.png appear to be duplicates.  Why do

[2019-11-15 20:48] jbphet commented on #54
Yep, I just built a version and it ran fine in IE.  Thanks @zepumph.  Closing.

[2019-11-15 21:21] jbphet commented on #59
@KatieWoe - I added a "lockout" sort of thing to prevent one button from being used when the other is pressed.  Please check this out on master to see if it solves the problem and doesn't seem to introduce anything undesirable.

[2019-11-15 21:27] KatieWoe commented on #59
Looks ok for the most part.  On win 10, letting go after attempting to press the second opens the left click menu and interrupts the first button.
![oddattempt](https://user-images.githubusercontent.com/41024075/68976832-fb026500-07b3-11ea-832d-30c79f0cad40.gif)

[2019-11-15 23:57] jbphet commented on #61
The memory leak was due to two things:
+ the point controller for the comparison point in the bank scene was getting recreated, and the old one was not being disposed
+ a removal listener was not itself being removed from the observable array of pointer for the number line

Fixing the first of these also fixed an issue where there was sometimes a visible delay in the full rendering of the comparis

[2019-11-18 17:12] jbphet commented on #59
I'm able to duplicate the behavior, but I looked it up and it is intentional for Windows 10, so it's not a problem with this sim.  Seems like the basic issue has been addressed, closing.

[2019-11-18 17:12] #59 closed

[2019-11-18 20:21] ariel-phet commented on #26
@jbphet - I agree this is getting to the "ball park", but I would investigate what @pixelzoom suggests above. Keeping our sims "lean" will help out with the app and such, and as we add sound files things will grow larger. If the suggestions above help and are not too much effort, I think they are worth it. I would call it done after that.

[2019-11-22 21:50] jbphet commented on #60
This should be fixed in master now.  @KatieWoe or @loganbraywork - please verify.

[2019-12-03 16:06] jbphet opened #62 "Code review"
Number Line: Integers is ready for code review.  This was discussed in the 11/21/2019 developer meeting, and @chrisklus was selected as the lucky reviewer.

Here's the current checklist, copied from https://github.com/phetsims/phet-info/edit/master/checklists/code_review_checklist.md:

# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌
* Call attention to items with ⚠️

## GitH

[2019-12-04 00:11] chrisklus opened #63 "Temperature units can overlap with number line"
For https://github.com/phetsims/number-line-integers/issues/62.

I'm cheating the test a bit in order to get these results, but I noticed that with `stringTest=double`, the temperature units radio button was touching the number line, so at lengths like 4x, the buttons/labels overlap with the number line. This isn't caught by `stringTest=long` because their height gets small enough to be out of the

[2019-12-04 00:36] chrisklus opened #64 "Thermometer label string keys"
For #62.

All the string keys look good. One nitpick I have is for these three - I don't see a reason for their keys to not just be "a", "b", and "c", as I thought we used suffixes like "Label" in keys for strings that were very long or not possible to match with the key.

[code]

[2019-12-04 15:33] chrisklus opened #65 "Write model.md description"
For #62.

`model.md` is missing its description.

[2019-12-04 16:36] chrisklus opened #66 "Use Enumeration for lockToNumberLine"
Fro #62.

In PointController.js, the option `lockToNumberLine` is using string values that are duplicated throughout the file and at call sites (16 strings used for 3 possible values). An Enumeration should be used instead.

[2019-12-04 21:05] SaurabhTotey commented on #63
A similar issue appears when the title text is shorter. I pushed a possible fix that positions the number line relative to that heading section rather than just the title. However, this may not look as nice in a non-stringtest version with a long enough title because then there is some unused space above the number line.

[2019-12-09 19:36] chrisklus opened #67 "Factor out comparison signs in ComparisonStatementNode"
For #62.

I see 8 usages of '<' or '>' in ComparisonStatementNode, so those should be factored out as file strings.

It would also be beneficial to add more validation to `this.selectedOperatorProperty`, perhaps with an option like `validValues: [ lessThanString, greaterThanString ]`

[2019-12-09 22:03] chrisklus opened #68 "Evaluate absVal naming"
For #62.

In primarily AbsoluteValueSpanNode.js and SpatializedNumberLineNode.js, the abbreviations absVal or ABS_VAL is used all over in variables, constants, and local types.

In AbsoluteValueSpanNode.js, I saw no reason to just use the full words in all cases, and added a couple review comments that indicated as such. Then I came to SpatializedNumberLineNode.js, and saw that some longer variabl

[2019-12-11 05:59] chrisklus commented on #62
Review complete. Looking good @jbphet! There are 6 associated issued and 42 `// REVIEW:` comments to address.

[2019-12-11 16:42] KatieWoe opened #69 "Recording Performance"
Testing performance on: https://phet-dev.colorado.edu/html/number-line-integers/1.0.0-dev.10/phet/number-line-integers_all_phet.html

| Platform | FPS | Subjective Test |
| --- | --- | --- |
| Win 10 Chrome | 51-60 | Good |
| Win 10 Firefox | 50-60 | Good |
| Win 10 IE | 52-60 | Good |
| Mac 10.15 Safari | 57-60 | Good |
| Mac 10.15 Chrome | 54-60 | Good |
| Mac 10.11 Safari | 49-60 | Good |
| Chr

[2019-12-11 18:41] KatieWoe commented on #69
Some slow down happens if you move both piggy banks at the same time with the buttons. Screen recording makes the problem worse, so it isn't as bad as shown. On Win 10 Firefox fps drops to about 43 while doing this. Minor issue.
![someslowdown](https://user-images.githubusercontent.com/41024075/70649858-35bcb900-1c0b-11ea-8a0b-6a0f5ac95695.gif)

[2019-12-11 19:22] KatieWoe opened #70 "Piggy Bank touch button behavior on Win 10"
**Test device**
Dell

**Operating System**
Win 10

**Browser**
IE and Chrome

**Problem description**
Found while testing https://github.com/phetsims/number-line-integers/issues/69.
The behavior of the add/remove coins buttons seem to be a bit buggy on touch devices. The IE behavior is particularly odd. However, since we do not support IE on Win 10, that aspect may not be worth pursuing. When you

[2019-12-11 21:08] loganbraywork opened #71 "FPS drop when dragging thermometer"
**Test device**
Dirac
**Operating System**
MacOs 10.11
**Browser**
Safari
**Problem description**
When the thermometer is moved around on the climate map, FPS drops from an average of about 56 to 27.
**Steps to reproduce**
1. Go to the Explore screen
2. Switch to the climate map
3. Pick up a thermometer and move it around the map rapidly
**Visuals**
![2019-12-11FPSLagNmbrLne](https://user-images.g

[2019-12-20 18:26] jbphet commented on #65
@chrisklus - I've filled out model.md with a description of the underlying model and how it works.  Please have a look and let me know if you think it fits the bill and, if so, close.  If you have suggestions on how to improve it, assign back to me and I'll incorporate them.

[2019-12-21 00:21] jbphet commented on #63
I decided to tackle this a little differently than what @SaurabhTotey proposed.  It seems to me that the number line should stay consistently positioned roughly in the center of the panel, but the labels on the left side were causing the number lines to move when the label lengths changed.  I backed out the code that dynamically repositioned the number line and modified the layout code to have les

[2019-12-21 00:32] jbphet commented on #64
@chrisklus - I see your point here, and I think in most situations I'd agree, but in this particular case I think having "thermometer" in the name is important.  My reasoning is that these labels appear in a scene that is not initially visible on any screen, so translators may have a tough time figuring out what they correspond to unless the key name carries a bit more of a hint.  So, unless you f

[2019-12-21 00:33] jbphet commented on #66
Looks good @SaurabhTotey - closing.

[2019-12-21 00:33] #66 closed

[2019-12-21 00:37] jbphet commented on #68
Good suggestion, guess I was just having lazy fingers.  All usages of ABS_VAL and absVal have been expanded.  Closing.

[2019-12-21 00:37] #68 closed

[2019-12-21 00:43] chrisklus commented on #64
Ah, that makes sense - thanks for the explanation. Sounds good to me, closing.

[2019-12-21 00:43] #64 closed

[2019-12-23 18:36] chrisklus commented on #63
I'm still seeing a collision when `stringTest` is at 3 or 4 x:

![image](https://user-images.githubusercontent.com/5618316/71373714-1f591a80-2586-11ea-9928-babfaa330cb8.png)

Since the temperature units are to the right of the number line, the number line's `right` can't be hard coded unless the number line is moved down like @SaurabhTotey proposed. @jbphet if you want it to stay in the same place

[2019-12-24 00:59] chrisklus commented on #65
Looks great @jbphet! Closing.

[2019-12-24 00:59] #65 closed

[2019-12-27 18:59] jbphet commented on #62
I have addressed all REVIEW tags in the code, and all items in the checklist appear to be addressed.  I believe there are separate GitHub issues for the rest of the items that need to be addressed.  @chrisklus - please take a look at the commits and close if they look reasonable.

[2019-12-27 19:33] jbphet commented on #63
@chrisklus said:

What exactly are you doing?  I'll continue to try to refine it, but I'd like to know what test you're running so that I can easily replicate the results.

[2019-12-27 20:31] jbphet commented on #63
I replicated the results by hacking the `window.phet.chipper.mapString` function definition in `initialize-globals.js`, but I'm still interested in know what test is actually being run here since I'm not familiar with 3x and 4x string tests and I'm not seeing how to run them by examining the code in `initialize-globals`.

@chrisklus said:

I'd rather not do this, since it doesn't match the design

[2019-12-27 20:58] jbphet commented on #67
Good suggestion, I've implemented both suggestions. @chrisklus - I'm just going to close this, since the change was pretty straightforward, but feel free to inspect my changes if you see it go by and are so inclined.

[2019-12-27 20:58] #67 closed

[2019-12-27 21:25] jbphet commented on #70
I'm not able to duplicate this on my Dell XPS Win 10 machine, IE Version 11.1184.17134.0.

Given that it doesn't seem to happen on my machine, and it a pretty unlikely use case (Internet Explorer on a touch device), and doesn't seem to have significantly detrimental effects on the operation of the sim, I feel that this is indeed not worth pursuing further.

Two things on this:
1. The appearance ch

[2019-12-28 00:01] jbphet commented on #69
@KatieWoe - can I get more information about what was being done when the FPS number in the table above were recorded?  My own testing shows 60 fps all the time unless some user interaction is occurring, which is what I'd expect, so I'll need to know what you were doing if we want to try to improve it.

[2019-12-28 19:17] chrisklus commented on #62
@jbphet commits look good - assigning back to you to close if there's nothing left here.

[2019-12-30 16:50] #62 closed

[2019-12-30 19:23] chrisklus commented on #63
That's what I did as well, sorry for not clarifying. I only tested these lengths in addition to `stringTest=double` since I originally noticed that the true `stringTest=double` was very close to causing the unit strings to overlap with the number line.

Nice fix, all tests look good to me as well. Closing.

[2019-12-30 19:23] #63 closed

[2019-12-30 22:07] jbphet commented on #71
For the purposes of having a repeatable process for this, I'm defining the test as follows:
+ set up a metronome to beat at 40 beats per minute (bpm)
+ go to the temperature scene
+ extract one thermometer and drag it around the African continent in a counterclockwise motion such that it goes around once per beat (at 40 bpm, that's 1.5 seconds per orbit)

When I run this test on Chrome on my Win 1

[2019-12-30 22:11] jbphet commented on #71
I profiled this test in Chrome on my Win 10 machine, and it looks like the biggest opportunities for optimization are with the updates to the comparison statement node, at least in this particular case.  Below is a screenshot of the flame chart for one frame time.

![image](https://user-images.githubusercontent.com/3082831/71602676-a83bfd00-2b16-11ea-930f-101948bb2621.png)

[2019-12-30 23:11] jbphet commented on #71
I just tried the "circle Africa at 40 bpm" test on the machine named "Dirac", which was the machine that was used when this issue was initially reported.  While I did see the FPS indicator drop to as low as 33, it mostly stayed in the 40s and didn't seem to affect usability at all as far as I could tell.  I'll spend a little time trying to improve this, but it doesn't seem like it's worth a ton of

[2019-12-31 21:15] jbphet commented on #71
I've implemented an optimization where Scenery nodes in the comparison statement that were previously being removed, recreated and re-added are now kept in the scene graph all the time, with their visibility and values updated as needed.  This saves the time that was being consumed in the constructors and in the process of adding the nodes to the scene graph.  The results in Chrome were fairly dra

[2019-12-31 23:07] jbphet commented on #49
I'm going to do an RC quite soon, so @kathy-phet - now is your chance if you'd like this to change.

[2019-12-31 23:11] jbphet commented on #43
Since @amanda-phet approves and @kathy-phet hasn't responded, I'm going to go ahead and close this one.

[2019-12-31 23:11] #43 closed

[2019-12-31 23:12] jbphet commented on #38
@kathy-phet - I'm about to do an RC, last chance for input on this one.

[2019-12-31 23:12] jbphet commented on #46
Sounds like the updated behavior is approved.  Closing.

[2019-12-31 23:12] #46 closed

[2019-12-31 23:17] jbphet commented on #34
@KatieWoe and @kathy-phet - we're getting close to an RC on this one, so I need your input on what, if anything, you feel needs to change from the current implementation.  The current dev version has the latest in terms of these pointer areas, see https://phet-dev.colorado.edu/html/number-line-integers/1.0.0-dev.10/phet/number-line-integers_en_phet.html?showPointerAreas.

[2020-01-02 21:42] KatieWoe commented on #34
If what was described in https://github.com/phetsims/number-line-integers/issues/34#issuecomment-554046452 is deemed fine then I don't think I have anything to add.

[2020-01-02 21:46] KatieWoe commented on #71
I would say this is good. Perhaps a note in the rc to keep an eye on performance when doing impacted tasks, but not a specific issue.

[2020-01-02 22:03] KatieWoe commented on #69
Using touch, use 1 finger to push a button that moves one bank. Simultaneously, use another finger to push a button that moves the other bank.

[2020-01-02 22:11] KatieWoe commented on #70
I did notice it can occur with mouse (done on IE). I do think this is still odd so @ariel-phet could you take a look?
![withmouse](https://user-images.githubusercontent.com/41024075/71696428-27793d00-2d72-11ea-825a-0d485c1ad7c6.gif)

[2020-01-03 02:26] ariel-phet commented on #70
@KatieWoe to me this behavior is correct. What I am seeing is the following:

1. Press my finger on the button
2. Slide my finger off the button without having lifted it off the screen
3. The button will no longer be "visually" depressed but the action corresponding to its depressed state will continue to occur until I lift up my finger

I see the same behavior with a mouse.

These behaviors are d

[2020-01-03 15:34] #70 closed

[2020-01-03 17:14] jbphet commented on #71
Sounds good, thanks.  Closing.

[2020-01-03 17:14] #71 closed

[2020-01-03 21:41] jbphet commented on #26
I resized a bunch of the images to about as small as they can go without starting to look bad, at least on my system.  I also removed unused images (though I don't think they affected the build size).  The build size is currently at 3692k, which is very close to the same as EFAC.  I think this is about as good as we are going to get without a significant time investment.  @ariel-phet - okay with y

[2020-01-03 22:26] jbphet commented on #42
This was due to some undesirable interactions between the coin animations and the label positions, and was fixed a while ago, see https://github.com/phetsims/number-line-integers/issues/46.

[2020-01-03 22:40] jbphet commented on #42
I've moved the temperature map down as much as I think I can without there starting to be too much space above it.  I didn't move the bank scene contents down because it doesn't seem to me to need it visually, and the issue with the overlap between the label and the comparison statement is now resolved.  @amanda-phet - please review and let me know if you think for changes are needed.

[2020-01-03 23:09] jbphet commented on #69
I profiled this on Chrome and it looks like the most time is being taken up in the coin animation, specifically creating and adding the coin nodes.

I ran a test where I set up the in the configuration shown below, pressed and held the enabled buttons (withdrawal for the top account, deposit for the bottom) and watched the FPS measurement for the lowest value that occurred during the time that it

[2020-01-03 23:40] jbphet commented on #69
I've added an optimization that pre-creates and caches the animated coins, and my testing shows that it gains about 5 FPS on FireFox, which is about a 25% improvement.  This isn't exactly amazing, but it's better than nothing, and might do better on some of the other platforms.

Any more optimization would take more time, and I don't think the use case really warrants it at this point, so I'm assi

[2020-01-03 23:53] jbphet commented on #61
I just tested the RequireJS version on master to make sure there aren't any obvious leaks before creating a release branch.  It looks pretty good.  Below is a screenshot of 8 minutes worth of fuzz testing with an initial, non-fuzz baseline for snapshot 1.

![image](https://user-images.githubusercontent.com/3082831/71755767-937aa480-2e49-11ea-9093-fe7f5f4230da.png)

[2020-01-06 21:08] amanda-phet commented on #42
The map and banks look fine to me, but now I'm noticing that the thermometer panel is in a funny location. Seems like it should be bottom-aligned with the temperature panel, and hopefully also bottom-aligned with the panel in the Elevation scene. If it's possible to tweak those a bit so there is some consistent alignment that would be great. Sorry I didn't get this request in before rc.1!

[2020-01-06 21:26] kathy-phet commented on #49
OK - we are leaving these as is. Closing.

[2020-01-06 21:26] #49 closed

[2020-01-06 21:35] kathy-phet commented on #38
All the font sizes look good to me.

[2020-01-06 21:35] #38 closed

[2020-01-06 21:53] kathy-phet commented on #34
This is working well for me. I can adjust the points and still see all the values at the same time. Closing.

[2020-01-06 21:53] #34 closed

[2020-01-06 22:11] kathy-phet commented on #42
@amanda-phet - If we do this, then maybe recenter the globe image between the comparison statement and the thermometer panel - shifting it down a bit?

[2020-01-06 22:15] kathy-phet opened #72 "Suggestion for the temperature scene"
I was reviewing RC.1, and had this one thought. Should the value readings and "A", "B", "C" labels in the temperature number line have the same color treatment as the "absolute value" labels get - so there is a constant color match, like in the other scenes? (sorry its post RC.1, just came to me now).

[2020-01-06 22:22] kathy-phet commented on #36
I was reviewing the open issues and noticed this is slightly different than the MASB one. We don't use the word "and" in that one. I think it is slightly nicer because we seem to never use "and" anywhere in the credits.
![image](https://user-images.githubusercontent.com/5096804/71853338-50624080-3098-11ea-80d0-bc46b68ec4b7.png)

JB - You can decide if you want to make it consistent with MASB.

[2020-01-06 22:49] amanda-phet commented on #72
I'm not sure I understand. Do you mean you would like the text to be color-coded? You can see in dev.7 that it used to be, but some colors require a light background and others require a dark background, and the flickering background didn't look good.

Please correct me if you're thinking of something else!

[2020-01-06 22:52] kathy-phet commented on #72
I'm thinking color coded like this -- using the same solution as now is used for absolute value.
![image](https://user-images.githubusercontent.com/5096804/71854754-640fa600-309c-11ea-9bfd-d90a32e49901.png)

[2020-01-07 00:08] ariel-phet commented on #26
@jbphet that seems totally OK to call good, thanks for putting in the extra work!

[2020-01-07 00:08] #26 closed

[2020-01-07 17:24] amanda-phet commented on #72
I see what you mean now.

@jbphet can we add the same color-coded background to the labels right next to the number line?

[2020-01-07 19:11] amanda-phet commented on #42
Sure, that sounds fine to me. Maybe the 3 of us can pixel-polish together in-person?

[2020-01-07 19:15] amanda-phet commented on #36
@jbphet copied what was done in EFAC, and EFAC uses "and."

@kathy-phet - you decide what you'd prefer moving forward, and we can make an issue in either EFAC or MASB to update to match the preferred syntax.

[2020-01-07 22:44] KatieWoe commented on #61
Memory test results for https://github.com/phetsims/QA/issues/465
![mumresults](https://user-images.githubusercontent.com/41024075/71935633-85d46000-3164-11ea-9845-74e618a393f2.png)

[2020-01-07 22:44] #61 closed

[2020-01-07 23:14] KatieWoe commented on #55
For https://github.com/phetsims/QA/issues/465, I did find one more, very mild, instance of this.
![minorlyoffline](https://user-images.githubusercontent.com/41024075/71937161-ce8e1800-3168-11ea-9a3b-77fd02e7bd25.png)

[2020-01-08 17:01] jbphet commented on #36
IMO, the attribution reads a lot better with the "and" in place.  The example shown in https://github.com/phetsims/number-line-integers/issues/36#issuecomment-571341806 uses neither a comma nor an "and", and as a result sounds to me like Kathy Perkins was somehow associated with Next-Lab.

[2020-01-08 21:55] KatieWoe opened #73 "Numbers on Generic Screen shift off-center permanently after using 3 dots"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/465.
When on the generic screen, the numbers displayed in the box near the top of the screen are centered. When you add a third point, and then take it away, the two remaining numbers are off center to the left and stay that way. This is still the case even if you r

[2020-01-08 22:16] KatieWoe opened #74 "Layering of absolute value labels"
For https://github.com/phetsims/QA/issues/465.
I noticed that, on the first screen, the absolute value labels are on the same layer as their point. On the scene with the person, fish, and bird, this can lead to obscuring effects. I wonder if a different layering order may be better. (This does occur on the climate scene, but since the thermometers are larger it less of an issue.)
![possiblelayerin

[2020-01-08 22:29] KatieWoe commented on #73
Also occurs on the two Explore screen scenes with three points.

[2020-01-08 22:34] ghost commented on #74
Here's a related nitpick:

![Screen Shot 2020-01-08 at 3 26 39 PM](https://user-images.githubusercontent.com/31285590/72021496-5f2d2c80-322b-11ea-9349-e24b29e4417f.png)

For example, the values for the piggy banks overlap. The label is slightly transparent. On the one hand, this lets a user know that there is something behind the label. On the other hand, it looks bad. (There are other instances o

[2020-01-08 23:09] KatieWoe opened #75 "Thermometer icon has an odd white box when pressed"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/465
On the first screen, you can choose between three different scenes using icon buttons. When you press down on them, they grey out. However, when pressing down on the thermometer icon there seems to be a weird white box in the image that isn't otherwise visible.

[2020-01-08 23:51] KatieWoe commented on #60
Seems fixed in rc.1. Closing, but will reopen if we find it again. It can be hard to reproduce.

[2020-01-08 23:51] #60 closed

[2020-01-09 00:59] kathy-phet commented on #36
OK. I'm fine with leaving it as is. Just had noted the difference.

[2020-01-09 16:00] KatieWoe commented on #69
I still see about the same fps drop during https://github.com/phetsims/number-line-integers/issues/69#issuecomment-564678051 in rc.1. However, I didn't see any effects and I think this can be safely closed. @jbphet please close if you agree.

[2020-01-09 16:22] #69 closed

[2020-01-09 17:45] ariel-phet opened #76 "Design of comparison toggle"
Overall, this sim is looking quite polished, but I think the comparison toggle could use some refinement. The "chosen" comparison looks disabled to me, and I think it is a bit of a confusing UI from that perspective. Since this component is likely to be used in future sims I feel like it is deserving of some improvement to make it clearer. I don't have a great idea off the top of my head, but perh

[2020-01-09 17:52] jbphet commented on #76
I agree that this could be improved.  How about a highlight-ish sort of color indicator, like a light yellow or yellow-green?

Thinking a little more outside the box, we could have a different style of selector, such as a small vertically aligned pair of radio buttons.

[2020-01-09 18:26] jbphet commented on #74
Both of the things noted above are by design, and I recall discussing them and implementing this behavior.  I'm going to unassign myself - @amanda-phet - please review and let me know if you think any changes are needed.  If not, you are free to close.

[2020-01-09 21:40] KatieWoe opened #77 "Fitted Block Bounds are small and can cause lag during drag on slow computers"
**Test device**
Lovelace
**Operating System**
ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/465.
During rc.1 I noted (https://github.com/phetsims/QA/issues/465#issuecomment-572638196):

@jbphet noticed that this was due to the bounds that determine how objects are drawn with canvas. This occurs on any platform it seems, but it causes lag in slower co

[2020-01-09 21:40] KatieWoe commented on #77
Query Parameter used: ?showFittedBlockBounds

[2020-01-09 23:15] amanda-phet commented on #74
Yes this is by design. There isn't a perfect solution to labels that are close, and the top most object will the one in focus (so, if you click the bird it will be layered above the text for the girl).

[2020-01-09 23:15] #74 closed

[2020-01-09 23:17] amanda-phet commented on #75
@jbphet I'm guessing you're using a thermometer image there with a white background instead of transparent. I can see it before it is even pressed. Where did you get the image?

[2020-01-10 16:31] amanda-phet commented on #76
I think there are some easy ways to improve this element.

(1) To make the button look less disabled, we shouldn't be reducing the opacity. I understand why @jbphet did that, to make it look depressed, but a simple fix would be to keep the symbol at 100% opacity.
![image](https://user-images.githubusercontent.com/7852916/72168908-52274f00-338b-11ea-95b6-95ff1dcfaa50.png)

(2) I looked for examples

[2020-01-10 16:47] ariel-phet commented on #76
@amanda-phet thanks for putting some options together...I agree, I think (3) would be my preference. I think the mapping is cleanest there since the selected comparison symbol is "full black" and matches the comparison statement. I might even lighten the unselected symbol a bit more, but I think that is a nice improvement.

[2020-01-10 16:59] amanda-phet commented on #76
Let's go with (3) then. I think the lightest we can go for that gray text is #949494 if we want enough contrast on the white background.

@jbphet can you please make this change to the button? The only thing that should change between the two states are the background color and the symbol color. Nothing should reduce in opacity (including the outer stroke).
![image](https://user-images.githubuserc

[2020-01-10 17:43] KatieWoe opened #78 "rtl shifts the numberline when thermometer are put on/taken off map"
**Device**
Bates
**OS**
Win 7
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/QA/issues/465. Only really seen with rtl so far. Occurs on any platform, but firefox seems most dramatic.
When adding the first or taking away the last thermometer on the climate scene of the first screen the number line to the left will change size and shift around. This can be quite noticeab

[2020-01-10 19:33] KatieWoe opened #79 "Object doesn't support find"
**Test device**
Bates

**Operating System**
Win 7 or 10

**Browser**
IE

**Problem description**
For https://github.com/phetsims/QA/issues/465.
Trying to use the buttons to add/take away money from the piggy banks will freeze the sim. First, it will pause for a long time, jump to a new position, and then completely freeze. Console errors shown in the video.

**Visuals**
![propertymethodfind](https

[2020-01-10 19:38] KatieWoe commented on #79
I think it is due to this commit: https://github.com/phetsims/number-line-integers/commit/4e41c6eb52456a7a085de6c9574fb23f35c6a41f

[2020-01-10 20:05] jbphet commented on #42
@amanda-phet and @kathy-phet - the changes that we discussed in the pixel-polish meeting are on master, please take a look and let me know whether you think further work is necessary.  Please make sure you assign this back to me when you're done so that I can make sure all changes get propagated to the release branch.

[2020-01-10 21:36] kathy-phet commented on #42
Looks good to me.

[2020-01-11 00:34] kathy-phet commented on #72
I like the new style - it seems to really bring some nice pop/warmth to the numberline view. @amanda-phet what do you think?

[2020-01-13 17:28] KatieWoe opened #80 "Thermometer labels can get slightly too long"
For https://github.com/phetsims/QA/issues/465
When strings are long the max width of the "A, B, C" labels for thermometers is a bit longer than the thermometer itself. The rtl string test is easiest to see, but any string test with more than one character will show it. These strings are unlikely to have long translations, so this is a lower priority issue.
![longthermometer](https://user-images.gi

[2020-01-13 17:36] amanda-phet commented on #80
@jbphet I discussed this with Katie and I think a max width makes sense here so the top of the letters don't get cut off.

[2020-01-13 17:38] amanda-phet commented on #72
I like it. Thanks for making this change @jbphet !

[2020-01-13 17:45] amanda-phet commented on #42
It all looks good to me.

[2020-01-14 21:40] loganbraywork commented on #78
On Windows 7 Chrome this occurs even without a stringTest

[2020-01-14 22:10] loganbraywork opened #81 "Moving Thermometer on and off Temperature map causes scale to shrink"
**Test device**
Windows 7 Laptop
**Operating System**
Windows 7
**Browser**
Chrome
**Problem description**
When thermometer is moved onto the temperature map the scale to the left may randomly shrink and return to normal
**Steps to reproduce**
1. Move Thermometer onto Temperature map
2. Move thermometer off and onto map until shrinking occurs
**Visuals**
![2020-01-14TempSclShrnkNoLn](https://user-

[2020-01-15 16:39] KatieWoe commented on #81
For https://github.com/phetsims/QA/issues/465

[2020-01-15 21:48] KatieWoe commented on #81
Seeing this on the new Chromium version of Edge

[2020-01-16 20:48] jbphet commented on #79
Change looks good to me, thanks @SaurabhTotey.

[2020-01-16 20:50] jbphet commented on #79
I've propagated the commit to the 1.0 release branch, marking as fixed.

[2020-01-16 20:54] jbphet commented on #36
Thanks for the input, sound like it is good as is.  Closing.

[2020-01-16 20:54] #36 closed

[2020-01-16 22:15] jbphet commented on #42
I've committed the approved layout adjustments to the release branch and will have them verified as part of the next RC test.

[2020-01-16 22:20] jbphet commented on #72
I've propagated the approved changes to the 1.0 release branch and will have this tested in the next RC.

[2020-01-16 22:40] jbphet commented on #55
I just discussed this with @amanda-phet and she is fine with the number going off the bottom, but would like to solicit input from @kathy-phet and @ariel-phet.

It's an easy thing to change, it just scrunches the space over which the numbers can move.

[2020-01-16 22:50] jbphet commented on #55
The conclusion is that I should go through, identify the highest and lowest temperature values, and scale the number line to match.  No one is concerned that the values won't be round numbers, such as 83.  This may even serve to make the scene a bit more engaging, since users may be motivated to see if they can find the highest and lowest values.

[2020-01-17 01:51] jbphet commented on #55
I've gone through the data set in order to identify the highest and lowest temperatures.  For each of these, the time and location are for the first occurrence of that particular temperature in the data set, it may recur at other times and locations.  The highest temperature is 108 degrees F at lat 26 long 2 (In Ghar Algeria) in July, here is a screenshot:

![image](https://user-images.githubuserc

[2020-01-17 01:57] jbphet commented on #55
Here is what the same space-time locations look like after the revisions:

![image](https://user-images.githubusercontent.com/3082831/72577902-8d48e700-3891-11ea-9297-2391a9ba6ae1.png)

![image](https://user-images.githubusercontent.com/3082831/72577938-b36e8700-3891-11ea-9207-2b296c07edf9.png)

[2020-01-17 02:00] jbphet commented on #55
In case I need it again, here is the debug code that I added to `TemperatureSceneModel.getTemperatureAtLocation` to identify the high and low temperature values and their locations:

<details>

[code]

</details>

[2020-01-17 02:04] jbphet commented on #55
This is adjusted on both the 1.0 and master branches, I will have it verified on the next RC.

[2020-01-17 16:14] amanda-phet commented on #55
Looks good to me. Thanks for making this change!

[2020-01-17 21:02] jbphet commented on #73
Nice catch @KatieWoe.  This was a result of the optimization work that was done for #71.

The change in alignment that is reported above was caused by an invisible comparison operator that was being left in place.  I have addressed this by moving unused comparison operator nodes to a position where they should have no impact.  This has been done on both master and the 1.0 branch.

[2020-01-17 21:13] jbphet commented on #75
It's programmatically generated, and I had enclosed the thermometer in a white box in order to make its size consistent with the other icons.  I've changed that box's fill to transparent, and all is well.

[2020-01-17 21:59] jbphet commented on #76
I made this change.  It seems like an improvement, but I still don't love it.  We're using gray as the fill color to indicate selection, and while it is not eye catching (which is the intent), it does seem a bit non-standard.  @amanda-phet and @ariel-phet - please try it out on master and let me know if you'd like to just go with this or try some other variations.  It is now set up so that color c

[2020-01-17 22:08] jbphet commented on #77
I discussed this with @jonathanolson and he recommended adding the `preventFit` flag to the explore screen, so that's what I've done.  It seems to fix the reported behavior, but I don't know whether there are other consequences, so we should test this thoroughly on the next RC.

[2020-01-17 22:20] jbphet commented on #78
This should be fixed now through the addition of max width values for the labels on the number line.

[2020-01-17 22:34] jbphet commented on #80
A max width value was already in place, but I've made it smaller and also a function of the thermometer width so that the size can be changed without having to also tweak the `maxWidth` value.  It seems to be working well in my tests.

I wouldn't worry about anything more than a two-letter label as the max in further testing, since no translator in their right mind with use a long string here.

[2020-01-18 00:52] jbphet commented on #81
There is one particular spot where the reduction in size of the panel with the number line occurs, and it is where the first value encountered is 32 degrees F, which is 0 degrees Celsius.   Here is a screenshot where the situation has been created and doesn't require any movement (note the relatively small number line panel):

![image](https://user-images.githubusercontent.com/3082831/72655463-f72

[2020-01-18 00:58] jbphet commented on #81
Good catch on this one @loganbraywork.

This was tricky to track down.  The problem was caused by the interaction between the `maxWidth` setting of the panel and the positioning of an invisible absolute value representation on the number line that is created but not used when a point is at position 0.  I have changed the code to set the position of this line even when it is invisible, and that see

[2020-01-21 15:56] jbphet commented on #7
@KatieWoe - please let me know who to put in the final list of QA credits.

[2020-01-21 16:00] KatieWoe commented on #7
At the moment: Logan Bray, Liam Mulhall, Jacob Romero, Kathryn Woessner
I'll slack you with any additions made in the next rc.

[2020-01-21 17:03] ariel-phet commented on #76
@jbphet @amanda-phet I definitely feel like this modification is an improvement. I could live without it being colored, but if we want it to be colored I feel like we would need something fairly neutral so as not to be eye catching ( a pale-ish blue would probably be my first guess). I will leave that to @amanda-phet discretion. I think we could publish as-is.

[2020-01-21 17:21] amanda-phet commented on #76
I looked up this style of button and found that gray and blue were the two common colors being used for the active button, and I think it's working well here. So I'm happy to close this issue.

If we end up wanting to use this kind of toggle button in the future in another sim (since we often find UI elements that work in one sim can work in others) I think it would be worth spending additional ti

[2020-01-21 17:24] amanda-phet commented on #76
Oops, I should leave this open for QA to verify in the next RC.

[2020-01-21 17:43] KatieWoe commented on #75
This seems fixed in rc.2

[2020-01-21 17:43] #75 closed

[2020-01-21 17:44] KatieWoe commented on #73
This looks fixed in rc.2

[2020-01-21 17:44] #73 closed

[2020-01-21 18:24] KatieWoe commented on #55
Looks good in rc.2

[2020-01-21 18:24] #55 closed

[2020-01-21 18:37] KatieWoe commented on #76
I agree this looks better.

[2020-01-21 18:47] KatieWoe commented on #80
StringTest double looks ok in rc.2

[2020-01-21 18:47] #80 closed

[2020-01-21 19:00] jbphet commented on #7
I've made the updates described and put them on both the master and 1.0 branches.  Unassigning for now, please assign back to me if additional changes are needed.

[2020-01-21 19:32] loganbraywork commented on #81
Appears to be fixed as of the newest RC test

[2020-01-21 19:33] #81 closed

[2020-01-21 19:40] loganbraywork commented on #78
Appears fixed as of latest RC test

[2020-01-21 19:42] KatieWoe commented on #79
Seems fixed in rc.2

[2020-01-21 19:42] #79 closed

[2020-01-21 19:47] KatieWoe opened #82 "IE leaves behind color"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
IE
**Problem description**
For https://github.com/phetsims/QA/issues/466.
Fairly minor graphical issue with IE. When dragging the thermometers around, their labels on the number line can leave behind a colored line. It seems to go away when you lift up the mouse.

**Visuals**
![colorleftbehind](https://user-images.githubusercontent.com/4

[2020-01-21 21:34] KatieWoe commented on #77
Mostly fixed. On the generic screen this may still happen to an extent. Up to you @jbphet
![stillboundsabit](https://user-images.githubusercontent.com/41024075/72845114-26457c80-3c5b-11ea-9278-132bac9513a6.gif)

[2020-01-21 23:17] ghost commented on #9
@jbphet and I were wondering if the "2m" in
![Screen Shot 2020-01-21 at 4 15 08 PM](https://user-images.githubusercontent.com/31285590/72851566-39f7df80-3c69-11ea-9c19-4da0e01e3e3e.png)
is, from a middle school student's perspective, too vague.

Should it be changed to "Two-Meter"? Thoughts? @amanda-phet, @ariel-phet

N.B. "2m" seems to be standard climatology phraseology.

Linking to https://gith

[2020-01-21 23:41] KatieWoe commented on #72
Looks good in rc.2

[2020-01-21 23:41] #72 closed

[2020-01-21 23:42] KatieWoe commented on #42
Things are looking ok. I really only notice the change on the thermometer scene though.

[2020-01-21 23:42] #42 closed

[2020-01-21 23:56] KatieWoe opened #83 "Layering of elevation screen"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/466.
On the elevation scene I noticed that the person/fish/bird are layered behind the number line. This looks a bit odd to me.

**Visuals**
![behindtheline](https://user-images.githubusercontent.com/41024075/72853539-ed170780-3c6e-11ea-905f-670fafa9e7ff.gif)

Troub

[2020-01-22 00:04] lmulhall-phet opened #84 "Hitting reset / reset all button while dragging items can leave items in play area"
**Test Device**

MacBook Air

**Operating System**

macOS 10.15.2

**Browser**

Chrome 79.0.3945.117

**Problem Description**

For https://github.com/phetsims/QA/issues/466. Might be a common code issue. Problem seems similar to https://github.com/phetsims/isotopes-and-atomic-mass/issues/42.

If you hit the reset all button while dragging an item such as PhET Girl, the penguin, the fish, a thermom

[2020-01-22 16:44] amanda-phet commented on #83
This doesn't seem like a bug, but I'm fine if we change the layering in this case (the thermometer goes over the number line, so it would be consistent with that screen).

Let's wait and see if there's anything else @jbphet has to fix, but this alone doesn't warrant another RC in my opinion.

[2020-01-22 16:53] amanda-phet commented on #9
@kathy-phet ?

I am not too concerned with folks interpreting this attribution, so I can go either way.

[2020-01-22 17:24] KatieWoe opened #85 "C and F have different comparison boxes"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/466.
On the temperature scene, the comparison statement boxes for Fahrenheit and Celsius are separate. If you collapse one, then switch to the other view, the box will be collapsed (if that was the state that temperature was in). Switching back will reveal the colla

[2020-01-22 18:33] KatieWoe opened #86 "Reset scene should not change Celsius to Fahrenheit"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/466
Per @jbphet and @amanda-phet using the grey reset scene on the temperature scene should not change Celsius to Fahrenheit.

**Visuals**
![resettof](https://user-images.githubusercontent.com/41024075/72922837-053c6480-3d0b-11ea-8517-d19dedf82cd2.gif)

Troubleshoot

[2020-01-22 18:39] #78 closed

[2020-01-23 07:39] ariel-phet commented on #9
@amanda-phet @jbphet @lmulhall-phet

I agree with @lmulhall-phet that 2m is a bit vague for most people. I also agree with @amanda-phet that we should not be too concerned about this attribution. However, since it is always visible, why not a compromise that is more interpret-able and basically accurate. Why don't we tweak the phrase slightly:

It is true that it is the temperature 2 m above the s

[2020-01-23 18:22] jbphet commented on #85
Just to be clear, it doesn't matter that they have separate comparison boxes, what matters is that the open state of the two boxes can get out of sync with one another.

[2020-01-23 18:23] KatieWoe commented on #85
Which direction of comparison is also impacted

[2020-01-23 23:29] jbphet commented on #77
I tested this out and the performance change is not noticeable on my system.  Given that the impact is small, the portion of the screen where the resizing occurs is outside the normal range where these points will be placed and therefore unlikely to be a problem for users, and also that preventing the fitting of block bounds comes with an increase in memory usage, I'm going to leave this one as is

[2020-01-23 23:29] #77 closed

[2020-01-23 23:37] jbphet commented on #82
I spent some time on this, and I could make the problem go away by setting `boundsMethod: 'accurate'` on the text in the readout, but this reduced performance drastically and made dragging of the thermometers laggy, so it was clearly not a good solution.  Oddly, after reverting the accurate bounds change, I could no longer get the problem to happen at all, so it was hard to continue working on it.

[2020-01-23 23:53] jbphet commented on #82
I discussed this with @ariel-phet in person, and he agreed that this isn't worth the time to pursue further.  Closing.

[2020-01-23 23:53] #82 closed

[2020-01-24 16:29] KatieWoe opened #87 "Comparison arrows on Explore screen do not reset with reset all"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/468. This did not occur in rc 2.
If you change the direction of the comparison statement on the explore screen (greater than instead of less than) and hit the orange reset all button, this setting does not reset. This bug does not occur in rc 2 or on the Generic scr

[2020-01-24 16:35] KatieWoe opened #88 "Line is over dot on piggy bank scene and others"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/468. May be related to https://github.com/phetsims/number-line-integers/issues/83. This did not occur in rc 2.
On the piggy bank scene the line that leads from the piggy bank to the number line is now layered over the dot on the number line. This looks very off.

**

[2020-01-24 16:37] KatieWoe commented on #87
May be related to https://github.com/phetsims/number-line-integers/issues/85

[2020-01-24 16:47] KatieWoe commented on #84
This seems fixed in rc 3

[2020-01-24 16:47] #84 closed

[2020-01-24 16:59] KatieWoe commented on #83
This is done, but may be related to https://github.com/phetsims/number-line-integers/issues/88

[2020-01-24 16:59] #83 closed

[2020-01-24 17:45] KatieWoe opened #89 "Temperature scene: reset scene resets Labels and Absolute Value, but not checkboxes"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/468. Does seem to happen in rc 2. Only seems to happen on temperature scene.
When hitting the grey reset scene button, the expected behavior is for the checkboxes on the right to not be reset. This behavior seems to work on the elevation and piggy bank scene. Howeve

[2020-01-24 17:48] KatieWoe commented on #88
Same sort of layering issue with absolute value on the elevation scene. Not in rc 2.
![sameissue](https://user-images.githubusercontent.com/41024075/73091146-05696b00-3e97-11ea-9e3d-5eba16000fc3.png)
EDIT: This occurred in rc 2 and is likely not an issue.

[2020-01-24 17:49] KatieWoe commented on #88
![labels](https://user-images.githubusercontent.com/41024075/73091212-2d58ce80-3e97-11ea-8aef-d20cdacdf683.png)

[2020-01-24 17:59] KatieWoe commented on #89
It seems to be centered on the number line. The label in the play area that goes with absolute value is still there, but the line to zero on the number line isn't.

[2020-01-24 18:10] KatieWoe commented on #88
![moreover](https://user-images.githubusercontent.com/41024075/73092551-149de800-3e9a-11ea-8333-6e0dd1e90037.png)

[2020-01-24 18:28] KatieWoe commented on #86
This seems fixed in rc.3

[2020-01-24 18:29] #86 closed

[2020-01-24 19:08] KatieWoe commented on #9
This change is implemented in rc.3

[2020-01-24 19:08] #9 closed

[2020-01-24 20:03] KatieWoe commented on #85
Seems fixed in rc.3, but may be related to https://github.com/phetsims/number-line-integers/issues/87

[2020-01-24 20:03] #85 closed

[2020-01-24 20:19] KatieWoe opened #90 "Long absolute value labels can go off screen"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firfox
**Problem description**
For https://github.com/phetsims/QA/issues/468. Minor issue in my opinion.
The absolute value labels on the elevation and thermometer scenes can go off the screen if strings are long.
**Steps to reproduce**
1. Use double string test and show dev bounds (this show layout for small windows/iPads/etc.)
2. Turn

[2020-01-24 21:42] KatieWoe commented on #88
Odd layering that occurred in rc2 as well:
![oddlayering](https://user-images.githubusercontent.com/41024075/73106028-a536f100-3eb7-11ea-9b9b-c642b2126de9.png)
Does not need string test, just easier to reproduce with.

[2020-01-24 22:09] loganbraywork commented on #87
The arrows do reset on IPad OS 13 for some reason even though this bug consistently shows up on Mac and Windows

[2020-01-24 22:14] amanda-phet commented on #90
Since the user can technically drag the object to the left to read the statement (in the elevation scene), I'm not too concerned about this. The temperature scene is fairly minor, otherwise I might try to think of a way to fix this.

Thanks for finding this @KatieWoe .

[2020-01-24 22:14] #90 closed

[2020-01-24 23:34] jbphet commented on #89
Turns out the number line was getting a full reset on a scene reset.  I changed the code to remove all points but not do a full reset in this case.

[2020-01-24 23:37] jbphet commented on #88
The bank scene behavior was due to the re-layering that was done for #83.  I revised things such that the point controllers are in front of the number line(s) in the "Elevation" and "Temperature" scenes, but behind it in the "Bank" scene.  This seems to work, I'll leave it to QA to make sure there weren't any undesired consequences.

The combo box layering was due to a different issue, and has als

[2020-01-24 23:54] loganbraywork commented on #87
Seems to be fixed

[2020-01-24 23:54] #87 closed

[2020-01-24 23:56] KatieWoe commented on #89
Looks good in rc4

[2020-01-24 23:56] #89 closed

[2020-01-24 23:59] KatieWoe commented on #88
Looks good in rc.4. We decided https://github.com/phetsims/number-line-integers/issues/88#issuecomment-578231510 would not be addressed

[2020-01-24 23:59] #88 closed

[2020-01-27 23:56] KatieWoe opened #91 "iPad thermometers "jump" out of the way even with no temperature conflict"
**Device**
iPad
**OS**
iPadOS 13
**Browser**
Safari
**Problem**
For https://github.com/phetsims/QA/issues/469
I noticed on iOS 13 (and maybe iOS 12) that, if you try to drop a thermometer on the climate map, it will do a bit of a "jump" as if you tried to drop it on a conflicting temperature even when there is none. Confirmed that @lmulhall-phet experienced this as well, so it is not me twitching

[2020-01-28 00:17] kathy-phet commented on #91
I agree - wouldn't block publication for this, but have JB take a look when he returns. Adding Amanda.

[2020-01-28 06:01] ariel-phet commented on #91
Definitely not a showstopper for publication, worth @jbphet looking at upon his return.

[2020-01-28 22:48] chrisklus commented on #7
Before I publish - is this issue all set @KatieWoe?

[2020-01-28 22:57] KatieWoe commented on #7
Yes

[2020-01-28 22:58] chrisklus commented on #7
Great, thanks. Closing.

[2020-01-28 22:58] #7 closed

[2020-01-29 17:34] pixelzoom opened #92 "use MathSymbols in ComparisonStatementNode"
ComparisonStatementNode.js imports MathSymbols, but doesn't use it everywhere that it should:

[code]

This should be:

[code]

[2020-01-29 17:47] pixelzoom opened #93 "put listbox above range combo box?"
In the lower-right corner of the _Generic_ screen, there's a ComboBox. It looks like this when the comb box's listbox is closed:

<img width="951" alt="screenshot_72" src="https://user-images.githubusercontent.com/3046552/73381835-ab481b80-4283-11ea-9125-9ef6e65f6234.png">

When the listbox opens, it opens _below_ the combo box button, covering the scene selection buttons.  It will also be below t

[2020-01-29 20:03] amanda-phet commented on #93
@pixelzoom it's funny you bring this up because the original mockups had that pointing upward, but I assumed the decision was based on whether there was room or not for the box to expand. I'd be happy to switch the direction for this sim and continue it in the other two.

[2020-02-12 22:06] amanda-phet commented on #1
@ariel-phet there are some post-publication items for you.

[2020-02-12 22:06] amanda-phet opened #94 "Make a sim primer"

[2020-02-13 20:02] amanda-phet commented on #76
Another example of this button that could help clean up our design:

![image](https://user-images.githubusercontent.com/7852916/74472687-995ba080-4e5f-11ea-8183-fd9330355528.png)

Here is how it would look in this sim:
![image](https://user-images.githubusercontent.com/7852916/74473576-0e7ba580-4e61-11ea-89bc-2bd5dcc6be21.png)

![image](https://user-images.githubusercontent.com/7852916/74473540-03

[2020-03-16 20:15] jbphet commented on #93
Thanks @pixelzoom - good suggestions.

@amanda-phet - I have implemented this change.  Please check it out on master and make sure you're good with it.  Assuming you are, please assign it back to me and I'll do a maintenance release.  I figure we would need to do this before publishing the other Number Line sims anyway just to keep things consistent, so I might as well just do it now and let users

[2020-03-19 21:35] amanda-phet commented on #93
Looks good to me!

[2020-03-25 17:40] jbphet commented on #93
I've done the maintenance release, this change is in place as of version 1.0.1.  Closing.

[2020-03-25 17:40] #93 closed

[2020-03-25 23:42] jbphet commented on #92
Thanks for the suggestion @pixelzoom, this has now been addressed, closing.

[2020-03-25 23:42] #92 closed

[2020-03-26 21:45] jbphet commented on #91
I looked at this for a while, and added `alert` calls (since I can't use `debugger` statements on an iPad without tethering it) to detect any post-release position changes, and I'm pretty convinced that this is just how touch handling works on the iPad.  I also added `alert` calls to detect if the code that repositions the thermometers in the event of overlapping points on the number line was firi

[2020-03-30 21:28] ghost commented on #91
I tried to reproduce on my iPad A1670. Jump happens with finger, but not with Apple Pencil (unless my hand is shaky). I think this jump is due to the fact that Apple's touchscreens are highly sensitive. Not an issue on our end. Closing.

[2020-03-30 21:28] #91 closed

[2020-04-06 14:56] KatieWoe opened #95 "CT Licenses for media types"
Also in Operations
[code]

[2020-04-07 16:31] jbphet commented on #95
Fixed, closing.

[2020-04-07 16:31] #95 closed

[2020-04-08 14:56] KatieWoe opened #96 "CT licenses for media types"
Also in operations:
[code]

[2020-04-08 16:02] jbphet commented on #96
Fixed, closing.

[2020-04-08 16:02] #96 closed

[2020-04-15 22:45] ariel-phet commented on #1
Sim primer issue made https://github.com/phetsims/number-line-integers/issues/94

[2020-04-15 22:56] #1 closed

[2020-04-23 21:42] jbphet opened #97 "Use common version of "range" string"
While developing Number Line: Operations a string was added to the common repo for "range".  NLI should be made to use the common one, and the existing translations moved there, so that the translators don't have to do redundant work.

[2020-04-23 23:09] jbphet commented on #97
In the course of adding a number line range selector to number-line-operations, I ended up generalizing it, moving it to common code, and modifying number-line-integers to use it.  That will impact how this is dealt with here.

[2020-04-27 16:48] jbphet commented on #97
I'm going to defer this for now, and revive it when we are getting close to publishing "Number Line: Operations".

[2020-05-03 17:29] samreid opened #98 "ElevationPointController calls NumberLinePoint with incorrect argument types"
From https://github.com/phetsims/tasks/issues/1035,

It looks like ElevationPointController is calling:
[code]

But NumberLinePoint signature is :

[code]

@jbphet can you please take a look?

[2020-05-04 17:26] jbphet commented on #98
I think this may have been the result of a commit that failed to push.  I was able to run fuzz test successfully on my own machine, so I checked to see if there were any pending commits and there weren't, but there was a pending push, so I just pushed it.  I'll check back in an hour or two and see whether automated testing is succeeding.

[2020-05-05 22:11] jbphet commented on #98
This is fixed.  Another, different error popped up too related to a recent refactor (as this one was), but that too should now be fixed.  Closing.

[2020-05-05 22:11] #98 closed

[2020-10-05 14:49] KatieWoe opened #99 "CT point controller should not be put away while controlling a point"
[code]

[2020-10-05 21:32] jbphet commented on #99
There was a spot in the code where it was iterating over an array and modifying it at the same time, and this apparently worked with the old `ObservableArray` but doesn't with the changes that occurred in https://github.com/phetsims/axon/issues/336.  I've fixed it and will keep an eye on CT to make sure that it clears up.

[2020-10-06 17:31] jbphet commented on #99
CT is now clear, closing.

[2020-10-06 17:31] #99 closed

[2020-11-30 19:47] KatieWoe opened #100 "CT x should be a finite number"
[code]

[2020-12-01 18:30] jbphet commented on #100
This was, I believe, due to a missed push for some work I did on https://github.com/phetsims/number-line-operations/issues/24.  I just did the push and will check CT in an hour or so to make sure the problem has cleared up.

[2020-12-01 19:40] jbphet commented on #100
CT has been clear for the last two iterations, closing.

[2020-12-01 19:40] #100 closed

[2020-12-24 16:46] brooklynlash opened #101 "On "Generic", the max to add/subtract is not consistent"
**Test device**
Lenovo ThinkPad

**Operating System**
Win 10

**Browser**
Chrome, Firefox

**Problem description**
This is for https://github.com/phetsims/QA/issues/593
On the "Generic" screen, the max to add/subtract in the top right corner is 200, but if you move the sliders more, then you reach more than 200. If you click the up arrow again on the top right corner, it goes back to 200, so not s

[2020-12-24 16:48] brooklynlash commented on #101
You can also replicate this on the Operations screen, but it is easier to see on this one

[2020-12-24 16:55] brooklynlash opened #102 "Allow users the choice to have two different axes for number lines?"
Not sure if this is necessary or not but just an idea, for the "Generic" screen there is a choice to add a number line, but both axes have the same distance. Should there be the option to have two different size axes, i.e. one being from -10 to 10 and one being from -100 to 100?

![numba](https://user-images.githubusercontent.com/72031637/103100034-a855c800-45c5-11eb-8785-c0d7b0cd41da.PNG)

[2021-01-04 17:59] DevonQui opened #103 "Issues with Reset All Button"
**Test device**
MacBook Pro

**Operating System**
Big Sur 11.0.1

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/QA/issues/593
When hitting the orange reset all button in the simulation I noticed that not everything was reset properly in two sections of the sim-- both the Operations section and Generic section. In the Operations section, the "Net Worth" and "In

[2021-01-04 18:41] DevonQui opened #104 "Invisible Buttons in Generic Section of Simulation"
**Test device**
MacBook Pro

**Operating System**
Big Sur 11.0.1

**Browser**
Chrome

**Problem description**
This is for https://github.com/phetsims/QA/issues/593

When doing the showPointerAreas search query during testing I noticed that in the Generic section of the simulation there were invisible buttons that I could press when the pointer areas were shown.

**Steps to reproduce**
1. Open the

[2021-01-04 19:22] brooklynlash commented on #104
I think this is because the buttons are used when the second set of axes is pulled up. Here it is on Win10 Chrome with the Pointer Areas query parameter.
![number](https://user-images.githubusercontent.com/72031637/103571084-2431f900-4e7f-11eb-8400-19554dd95885.PNG)

[2021-01-04 21:05] jbphet commented on #104
This isn't a bug, it's just an artifact of how the carousel works.  The pointer areas are those for the second operation entry control, and are shown even though they are outside of the clip area of the carousel.  That's just how it works.

@DevonQui - I'm assigning this back to you for closure so that you are aware of this behavior for the future, and also because it's in the wrong repo.  We're t

[2021-01-04 21:07] jbphet commented on #103
@DevonQui - please move this to the number-line-operations repo and assign back to me.

[2021-01-07 00:18] jbphet opened #105 "Can't interact with items dropped in the water on "Explore" screen, "Elevation" scene"
Discovered while addressing some issue for the number-line-operations code review.  If I pull out the items from the tool box on the first scene of the first screen and drop them in the water, they can't be picked up again.  There haven't been a lot of changes to this file, so I'm wondering if something has changed about input events and "bubbling" in Scenery, since the water is positioned above t

[2021-01-07 00:20] jbphet commented on #97
Reviving, since publication of number-line-operations is on the horizon.

[2021-02-05 16:39] KatieWoe opened #106 "CT should not be in this situation if controller is always locked to a point"
[code]

[2021-02-09 17:05] pixelzoom commented on #106
In 2/4/21 dev meeting, we established that this may be due to CT multi-touch fuzz testing ( ?fuzzPointers=2) being enabled for phetsims/aqua#106.

[2021-02-11 20:51] jbphet commented on #105
Hmmm.  It's working fine now, and I don't see any commits to this repo that seem like they would have had any impact.  I know some work was going on with regard to pickability and input event handling, so I'm going to assume that I happened to test at a moment when that was broken.  Closing.

[2021-02-11 20:51] #105 closed

[2021-03-11 23:32] jbphet commented on #106
I've done some investigation on this, and I can see what's happening.  Here is how to duplicate the problem manually.

+ load the sim
+ go to the first screen, and select the second scene (the one with the piggy banks)
+ turn on the 2nd piggy bank by flipping the AB switch at the right of the screen
+ start dragging the 2nd piggy bank (the one above the number line)
+ while keeping a finger on the

[2021-03-12 00:52] jbphet commented on #106
I've added code to cancel interactions with the point controller when it becomes invisible.  After this change the problem can no longer be duplicated with the sequence described above.  I'll fuzz test locally and keep an eye on CT and, if I don't see a recurrence, I'll close.

[2021-03-12 01:58] jbphet commented on #106
After this change, I ran fuzz testing locally using the query params in the issue report above (`brand=phet&ea&fuzz&fuzzPointers=2&memoryLimit=1000`) for an hour with no problems.  The only caveat is that my screen saver seems to have kicked in, which may have stopped the browser from running, but at any rate, it ran for a while.

[2021-03-12 19:05] jbphet commented on #106
I ran it for a while longer, so local fuzz testing was at least an hour.  CT is clear after about 17 hours.  I'm pretty confident in this fix, and the testing so far looks good, so I'm going to go ahead and close this one.

[2021-04-02 21:30] KatieWoe opened #107 "Longer strings go out of bounds"
For https://github.com/phetsims/QA/issues/634. Not in published. Found while looking at https://github.com/phetsims/number-line-integers/issues/90, but as this affects non-movable checkboxes I think it should be addressed.
When strings are longer than normal (such as with `?stringTest=double` they will go out of bounds and off screen if the screen is close enough to the dev bounds.
![Image from iO

[2021-04-05 20:22] jbphet commented on #106
This is still popping up on CT, so I'm re-opening.  Here's a stack trace from the most recent occurrence:

[code]

[2021-04-05 21:34] KatieWoe commented on #106
I ran a fuzz test on the debug of https://github.com/phetsims/QA/issues/634 with the above parameters and did see this error once. It didn't freeze the sim and I didn't catch it visually, and I haven't reproduced it manually, so I'm still not sure of the cause, but it does seem to be in rc.

[2021-04-07 23:35] jbphet commented on #107
I have fixed this in master and propagated the changes to the 1.1 branch.  I'll leave it open and will have QA verify the fix on the next RC.

[2021-04-08 23:52] jbphet commented on #106
I've tracked this down, here's how to reproduce it manually.  This is distinct from the sequence reported above.

- load the sim
- go to the first screen and stay one the first scene (elevation)
- drag one of the items (the girl, bird, or fish) into the scene and drop it
- with one finger, drag the spherical point controller that is attached to the number line up and down a little
- without releas

[2021-04-09 19:21] jbphet commented on #106
Both of the scenarios in which this problem could occur have now been fixed on both master and in the 1.1 branch.  I'm about to roll a new RC, and will have QA verify this fix on that version.

[2021-04-13 16:47] KatieWoe commented on #106
Looks good in rc.2

[2021-04-13 16:47] #106 closed

[2021-04-13 20:23] DevonQui commented on #107
Checked this on my iPad and Mac and it looked fixed. Closing

[2021-04-13 20:23] #107 closed

[2021-04-16 23:24] jbphet commented on #97
The 1.1 version of this sim has now been published and it uses the common version of the range string.  Closing.

[2021-04-16 23:24] #97 closed

[2021-10-15 19:52] amanda-phet opened #108 "New "piggy" bank artwork"
Ashton is going to work on drawing a coin bank similar to this mockup:
![image](https://user-images.githubusercontent.com/7852916/137545080-203d6f34-b90d-4e49-83dd-b702a69c77f3.png)

### Requirements:
- One solid fill background
- One transparent fill foreground with the details
- A coin slot at the top
- Two decorations to distinguish the two "accounts": the blue lightning bolt and the pink flowe

[2021-10-26 17:41] Ashton-Morris commented on #108
@amanda-phet How does something like this look?

![Asset 1](https://user-images.githubusercontent.com/34492870/138931320-c8a146ed-ea3a-4c85-8ac9-f6c53e0ecd43.png)

[2021-10-29 20:34] amanda-phet commented on #108
It looks great!!

A few thoughts:
1. We might need it to be shorter to fit the sim a bit better.. at this height it might not fit in the available space. Can you squish it a bit to be shorter?
2. Can we make the outer stroke a bit thicker? When it scales down it will be hard to see. I think we generally like 1px strokes when it's at full resolution, and the dimensions we are replacing are approx 2

[2021-10-29 20:36] amanda-phet commented on #108
Actually, regarding (1) above, I placed it in the sim screenshot at the biggest size to see it in context, and it might be just fine! But now I'm also wondering if the coin slot could look a little bit thicker.

![image](https://user-images.githubusercontent.com/7852916/139498835-b50743f2-13eb-42cc-bacc-4e80d99f1fb4.png)

[2021-11-05 20:25] Ashton-Morris commented on #108
I have some artwork to test out.

https://drive.google.com/file/d/1r2jw6H_6DAZvvMjgB_hYno9opC79Obpq/view?usp=sharing

Although I am familiar with vector art creation I am less so when it comes to exporting for use in html5 pages. Please let me know if there are any adjustments I ned to make.